<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhph.mapper.sys.SysWorkplacesetMapper">
	<resultMap id="workplaceResultMap" type="com.zhph.model.sys.SysWorkplaceset">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
		<result column="AREA" property="area" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
		<result column="BUSINESS_LINE" property="businessLine" jdbcType="VARCHAR" />
		<result column="CITY_LEVEL" property="cityLevel" jdbcType="INTEGER" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="queryAllWorkplaceset" parameterType="com.zhph.model.sys.SysWorkplaceset" resultMap="workplaceResultMap">
		SELECT *FROM  SYS_WORKPLACE_SET w
		<where>
			<choose>
				<when test="operType=='areaCodeFuzzyQuery' or operType=='areaFuzzyQuery' ">
						<if test="areaCode!=null and areaCode!=''">
							AND w.AREA_CODE LIKE '%${areaCode}%'
						</if>
						<if test="area!=null and area!=''">
							AND w.AREA LIKE '%${area}%'
						</if>
				</when>
				<otherwise>
					<if test="areaCode!=null and areaCode!='' ">
						AND w.AREA_CODE=#{areaCode}
					</if>
					<if test="area!=null and area!=''">
						AND w.AREA=#{area}
					</if>
				</otherwise>
			</choose>
			<if test="province!=null and province!='' ">
				AND w.PROVINCE=#{province}
			</if>
			<if test="businessLine!=null and businessLine!='' ">
				AND w.BUSINESS_LINE=#{businessLine}
			</if>
			<if test="status!=null and status!='' ">
				AND w.STATUS=#{status}
			</if>
		</where>
		ORDER BY w.ID DESC
	</select>

	<select id="queryAllProvince" resultType="String">
		SELECT PROVINCE  FROM SYS_WORKPLACE_SET w
		<where>
			AND  w.STATUS=#{status}
		</where>
		GROUP BY PROVINCE
	</select>

	<delete id="delById" parameterType="Object">
		DELETE FROM SYS_WORKPLACE_SET WHERE ID=#{id}
	</delete>

	<insert id="addByObj" parameterType="com.zhph.model.sys.SysWorkplaceset">
		<selectKey resultType="Long" keyProperty="id" order="BEFORE">
			SELECT SQ_SYS_WORKPLACE_SET.NEXTVAL AS ID FROM DUAL
		</selectKey>
		INSERT INTO SYS_WORKPLACE_SET(
		ID,
		AREA_CODE,
		AREA,
		PROVINCE,
		BUSINESS_LINE,
		STATUS,
		REMARK,
		CREATE_NAME,
		CREATE_DATE,
		CITY_LEVEL
		)
		VALUES(
		#{id,jdbcType=BIGINT},
		#{areaCode,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{businessLine,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{createName,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{cityLevel,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="updateById" parameterType="com.zhph.model.sys.SysWorkplaceset">
		UPDATE SYS_WORKPLACE_SET W
		SET
		w.AREA=#{area},
		w.STATUS=#{status},
		w.REMARK=#{remark,jdbcType=VARCHAR},
		w.CITY_LEVEL=#{cityLevel,jdbcType=INTEGER}
		<where>
			AND w.id=#{id}
		</where>
	</update>
</mapper>