<!DOCTYPE html>
<@compress single_line=true></@compress>
<html>
<head>
    <#include "/pages/common/head.html" />
    <title>消金考勤统计</title>
</head>
<style>
    #workpaceEditDiv input {
        width: 157px;
        height: 24px;
    }

    #workpaceEditDiv select {
        width: 157px;
        height: 24px;
    }
</style>
<body style="padding: 0px; margin: 0px;">
<div class="wrapper wrapper-content">
    <ol class="breadcrumb">
        您的位置：
        <li>
            <a href="/index.html"><i class="layui-icon" style="font-weight: bold;font-size:15px;">&#xe68e;</i>主页</a>
        </li>
        <li class="active">消金考勤管理</li>
        <li class="active">
            <i class="layui-icon" style="font-weight: bold;font-size: 15px;">&#xe62a;</i>
            <font>消金考勤统计</font>
        </li>
    </ol>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form id="form" class="layui-form" lay-filter="form">
                <div class="container-fluid">
                    <div class="row">
                        <!--员工编码-->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable">
                                    <label>员工编码：</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zh-form-content">
                                    <input name="empNo" id="empNo" type="text" class="form-control input-sm"
                                           placeholder="员工编码">
                                </div>
                            </div>
                        </div>
                        <!--员工姓名-->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable">
                                    <label>员工姓名：</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zh-form-content">
                                    <input name="empName" id="empName" type="text" class="form-control input-sm"
                                           placeholder="员工姓名">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable">
                                    <label>大区：</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zh-form-content">
                                    <select id="deptArea" name="deptCode" lay-filter="deptArea" lay-search="" placeholder="-请选择-">
                                        <option></option>
                                        <#list  deptArea as bl>
                                            <option value="${bl.id!}">${bl.deptName!}</option>
                                        </#list>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable">
                                    <label>分公司：</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zh-form-content">
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <select id="branch" name="postName" lay-filter="orgNo" lay-search="" placeholder="-请选择-">
                                                <option></option>
                                                <#list  orgNo as bl>
                                                    <option value="${bl.id!}">${bl.deptName!}</option>
                                                </#list>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable">
                                    <label>营业部：</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zh-form-content">
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <select id="sales" name="businessNameo" lay-filter="salesDept" lay-search="" placeholder="-请选择-">
                                                <option></option>
                                                <#list  salesDept as bl>
                                                    <option value="${bl.id!}">${bl.deptName!}</option>
                                                </#list>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable">
                                    <label>工资年月：</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zh-form-content">
                                    <input name="gzym" id="transferTime" type="text"
                                           class="layui-input input-sm"
                                           placeholder="工资年月" value="${gzym.currentGzym}">
                                </div>
                            </div>
                        </div>
                        <!--按钮-->

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-lg-offset-10 col-md-offset-6 col-sm-offset-0 ">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zh-form-lable"></div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                                     style="position: relative;left: -120px;">
                                    <@auth url='/hqclcf/attendance/list'>
                                    <button lay-submit lay-filter="auditQuery" class="btn btn-primary btn-sm"
                                            type="button" title="查询">
                                        <i class="layui-icon" style="font-size: 15px;">&#xe615;</i>
                                        <font>查询</font>
                                    </button>
                                    </@auth>
                                    <@auth url='/hqclcf/attendance/lock'>
                                    <button class="btn btn-primary btn-sm" lay-submit lay-filter="lock"
                                            style="background-color: #FF5722" type="button" title="锁定">
                                        <i class="layui-icon" style="font-size: 15px;">&#xe64c;</i>
                                        <font>锁定</font>
                                    </button>
                                    </@auth>
                                    <@auth url='/hqclcf/attendance/unlock'>
                                    <button class="btn btn-primary btn-sm" lay-submit lay-filter="unlock"
                                            style="background-color: #99def8" type="button" title="解锁">
                                        <i class="layui-icon" style="font-size: 15px;">&#xe631;</i>
                                        <font>解锁</font>
                                    </button>
                                    </@auth>
                                    <@auth url='/hqclcf/attendance/exportExl'>
                                    <button class="btn btn-primary btn-sm" lay-submit lay-filter="exportExl"
                                            style="background-color: #009688" type="button" title="导出">
                                        <i class="layui-icon" style="font-size: 15px;">&#xe601;</i>
                                        <font>导出</font>
                                    </button>
                                    </@auth>
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                    <button lay-submit lay-filter="clear" class="btn btn-primary btn-sm"
                                            type="button" title="清除" style="background-color: #935c25">
                                        <i class="layui-icon" style="font-size: 15px;">&#x1002;</i>
                                        <font>一键清除</font>
                                    </button>

                                    <@auth url='/hqclcf/attendance/saveAttendance'>
                                    <button class="btn btn-primary btn-sm" lay-submit lay-filter="saveAttendance"
                                            style="background-color: #21ba45" type="button" title="生成报表">
                                        <i class="layui-icon" style="font-size: 15px;">&#xe62d;</i>
                                        <font>生成考勤统计报表</font>
                                    </button>
                                    </@auth>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--Grid-->
        <div class="ibox-content">
            <table class="layui-hide" id="transferTable" lay-filter="useruv"></table>
        </div>
    </div>
</div>
<!--上部分查询-->

</body>
<#include "/pages/common/foot.html" />
<link rel="stylesheet" href="${ctx}/ui/css/plugins/zTree_v3/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/ui/easyui-1.5.1/jquery.easyui-1.5.1.min.js"></script>
<script type="text/javascript" src="/ui/easyui-1.5.1/jquery.easyui-1.5.1.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/html" id="tableRowNumTpl">
    {{ d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="deptsListTpl">
    {{#  layui.each(${depts!}.obj, function(index, item){  }}
    {{#  if(item.deptCode == d.deptCode){  }}
    {{   item.deptName }}
    {{#  return true;  }}
    {{#  } }}
    {{#  });}}
</script>
<script type="text/html" id="postsListTpl">
    {{#  layui.each(${posts!}.obj, function(index, item){  }}
    {{#  if(item.postNo == d.jobName){  }}
    {{   item.postName }}
    {{#  return true;  }}
    {{#  } }}
    {{#  });}}
</script>
<script type="text/javascript">

    var table;
    var form;
    var laydate;
    var loadIndex ;
    /*初始化*/
    layui.use(['table', 'laydate', 'form'], function () {
        table = layui.table;
        form = layui.form;
        laydate = layui.laydate;

        form.render();
        loadIndex = layer.load(2);
        table.render({
            elem: '#transferTable',
            id: 'id',
            url: '${ctx}/hqclcf/attendance/list',
            loading: true,
            method: 'post',
            done:function(){
                layer.close(loadIndex);
            },
            text:{
                none:'暂无相关数据'
            },
            cols: [[
                {width: 70, fixed: true, title: '序号', align: 'center', sort: true, templet: '#tableRowNumTpl'},
                {field: 'gzym', title: '年月', width: 80, align: 'center'},
                {field: 'empNo', title: '员工编码', width: 140, align: 'center'},
                {field: 'empName', title: '员工姓名', width: 120, align: 'center'},
                {field: 'deptCode', title: '大区', width: 160, align: 'center'},
                {field: 'postName', title: '分中心', width: 150, align: 'center'},
                {field: 'businessNameo', title: '营业部', width: 150, align: 'center'},
                {field: 'rankName', title: '团队', width: 100, align: 'center'},
                {field: 'jobName', title: '职位', width: 100, align: 'center'},
                {field: 'enterDate',title: '入职时间',width:110,align:'center'},
                {field: 'leaveDate',title: '离职时间',width:110,align:'center'},
                {field: 'oughtAttend', title: '应出勤天数', width: 120, align: 'center'},
                {field: 'realAttend', title: '实际出勤天数', width: 120, align: 'center'},
                {field: 'personalLeave', title: '事假天数', width: 120, align: 'center'},
                {field: 'sickLeave', title: '病假天数', width: 120, align: 'center'},
                {field: 'welfareLeave1', title: '年/婚/丧假天数', width: 120, align: 'center'},
                {field: 'welfareLeave2', title: '产假类/工伤类天数', width: 140, align: 'center'},
                {field: 'commuteClockAbnormal', title: '上下班打卡异常次数', width: 150, align: 'center'},
                {field: 'spotCheckClockAbnormal', title: '抽查打卡异常次数', width: 150, align: 'center'},
                {field: 'absenteeism', title: '旷工天数', width: 120, align: 'center'}
            ]],
            height: '500',
            skin: 'row',
            size: 'sm',
            even: true,
            page: true,
            limits: [10, 30, 50],
            limit: 10
        });

        /*查询*/
        form.on('submit(auditQuery)', function (obj) {
            loadIndex = layer.load(2);
            table.reload('id', {
                where: obj.field || {}
            })
        });
        /*导出考勤统计信息*/
        form.on('submit(exportExl)', function () {
            window.location = '${ctx}/hqclcf/attendance/exportExl?' + $("#form").serialize();
            return false;
        });

        /*锁定*/
        form.on('submit(lock)', function () {

            if(!isNull()){
                layer.msg('当前工资年月不正确无法锁定！');
                return;
            }

            var index;
            $.ajax({
                url: '${ctx}/hqclcf/attendance/lock?' + $("#form").serialize(),
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    index = layer.load(2);
                },
                success: function (res) {
                    layer.close(index);
                    if (res.code == '200') {

                        layer.msg("锁定成功", {icon: 6, time: 1500});
                    } else {
                        layer.msg("锁定失败" + res.msg, {icon: 5, time: 1500});
                    }

                },
                error: function () {
                    layer.msg("锁定失败" + res.msg, {icon: 5, time: 1500});
                }

            })

        });

        /*解锁*/
        form.on('submit(unlock)', function () {

            if(!isNull()){
                layer.msg('当前工资年月不正确无法解锁！');
                return;
            }

            var index;
            $.ajax({
                url: '${ctx}/hqclcf/attendance/unlock?' + $("#form").serialize(),
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    index = layer.load(2);
                },
                success: function (res) {
                    layer.close(index);
                    if (res.code == '200') {

                        layer.msg("解锁成功", {icon: 6, time: 1500});
                    } else {
                        layer.msg("解锁失败" + res.msg, {icon: 5, time: 1500});
                    }

                },
                error: function () {
                    layer.msg("解锁失败" + res.msg, {icon: 5, time: 1500});
                }

            })
        });

        /*一键清除*/
        form.on('submit(clear)', function (obj) {

            $("#form").find("input,select").each(function (index, n) {
                $(n).val("");
            })
            $("#postNo").find("option").each(function (priIndex, n2) {
                $(n2).remove();
            })
            form.render();

        });
        /*生成考勤统计报表*/
        form.on('submit(saveAttendance)', function () {
            var index;
            $.ajax({
                url: '${ctx}/hqclcf/attendance/saveAttendance',
                type: 'post',
                data: {
                    gzym: $("#transferTime").val()
                },
                dataType: 'json',
                beforeSend: function () {
                    index = layer.load(2);
                },
                success: function (res) {
                    layer.close(index);
                    if (res.code == '200') {
                        layer.msg("考勤统计生成成功", {icon: 6, time: 1500});
                        table.reload('id');
                    } else {
                        layer.msg("生成失败" + res.msg, {icon: 5, time: 1500});
                    }
                },
                error: function () {
                    layer.close(index);
                    layer.msg("生成失败" + res.msg, {icon: 5, time: 1500});
                }

            })

        });

        /*大区下拉*/
        form.on('select(deptArea)', function (data) {
            selectThisval(data.value, 1);
        });
        /* 分公司*/
        form.on('select(orgNo)', function (data) {
            selectThisval(data.value, 2);
        });
        /* 营业部*/
        form.on('select(salesDept)', function (data) {
            selectThisval(data.value, 3);
        });

        /*删除修改*/
        table.on('tool(useruv)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定要删除吗', function (index) {
                    $.ajax({
                        url: '${ctx}/hqclcf/hqclcfPersonTransfer/del',
                        data: {
                            priNumber: data.priNumber,
                            transferTime: data.transferTime
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function (msg) {
                            if (msg.status == "1") {
                                layer.msg("删除成功!", {icon: 6});
                                table.reload('id', {
                                    where: obj.field || {}
                                })
                            } else {
                                layer.msg("删除失败! " + msg.info, {icon: 5});
                            }
                        },
                        error: function (msg) {

                        },

                    });
                });
            } else if (obj.event === 'edit') {
                var editLayer = layer.open({
                    type: 2,
                    title: '您的位置：基础管理>人员异动管理>修改',
                    btnAlign: 'c',
                    resize: false,
                    skin: '',
                    area: ['1080px', '690px'],
                    content: ['${ctx}/hqclcf/hqclcfPersonTransfer/editInit?id=' + data.priNumber, 'yes'],
                    btn: ['修改', '取消'],
                    yes: function (index, layero) {

                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        /**/
                        if (iframeWin.validatePersonTransfer()) {
                            var form = layer.getChildFrame('form', index);
                            $(form).find("select").each(function (index, n) {
                                if ($(this).attr('name') == "newBusinessLine") {
                                    $(this).attr('disabled', false);
                                }
                            })
                            var obj = $.fn.serializeObject($(form));
                            $.ajax({
                                url: '${ctx}/hqclcf/hqclcfPersonTransfer/edit',
                                data: {"data": JSON.stringify(obj)},
                                type: 'post',
                                async: false,
                                success: function (res) {
                                    if (res.status == 1) {
                                        layer.msg("修改成功", {icon: 6, time: 1500}, function () {
                                            table.reload('id', {
                                                where: obj.field || {}
                                            })
                                            layer.closeAll();
                                        });
                                    } else {
                                        layer.msg("修改失败：" + res.info, {icon: 5, time: 1500});
                                    }
                                },
                                error: function () {
                                    layer.msg("操作异常：" + res.info, {icon: 5, time: 1500});
                                }
                            });

                            layer.close(index);
                        }

                    }
                }, function () {
                    form.render();
                });
            }
        });
    });

    $(document).ready(function () {

        layui.use(['table', 'laydate', 'form'], function () {

            laydate = layui.laydate;
            form = layui.form;
            table = layui.table;

            form.render();

            /*日期控件*/
            laydate.render({
                elem: '#transferTime',
                theme: '#393D49',
                type: 'month'
            });

        })

        /*PriDeptTree*/
        $("#priDeptNo").click(function () {
            tree.showActionDeptTree("pri");
        })
        /*newDeptTree*/
        $("#newDept").click(function () {
            tree.showActionDeptTree("new");
        })


    })


    /*
     * Body鼠标按下事件回调函数
     */
    function onBodyDownByActionType(event) {
        if (event.target.id.indexOf('switch') == -1 && event.target.id != 'actionTypeTree') {
            hideActionTypeMenu();
        }
    }

    /*
     * 隐藏点击事件Tree
     */
    function hideActionTypeMenu() {
        $("#actionTreeContent").fadeOut("fast");
        $("#newActionTreeContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDownByActionType);
    }

    /*
     * 检测当前工资年月是否为空
     * @returns {boolean}
     */
    function isNull(){
        var inputValue = $('#transferTime').val();
        if(inputValue == null || inputValue == ''){
            return false;
        }else{
            return true;
        }
    }


    function selectThisval(obj, type) {
        $.ajax({
            url: '${ctx}/cf/cardAbnormity/buildDeptSelect',
            type: 'POST',
            dataType: "json",
            async: false,
            data: {"id": obj},
            success: function (data) {
                switch (type) {
                    case 1:
                        $("#branch").val(data.orgId);
                        $("#sales").val(data.saleId);
                        break;
                    case 2:
                        $("#deptArea").val("");
                        $("#sales").val(data.saleId);
                        break;
                    case 3:
                        $("#deptArea").val("");
                        $("#branch").val("");
                        break;
                }
                form.render("select");
            }
        });
    }

</script>
</html>
