<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.sys.SysConfigTypeMapper">
	<resultMap id="ResultMap" type="com.zhph.model.sys.SysConfigType">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result column="sys_name" property="sysName" jdbcType="VARCHAR" />
		<result column="sys_value" property="sysValue" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="p_id" property="pId" jdbcType="BIGINT" />
		<result column="p_sys_code" property="pSysCode" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryList" resultMap="ResultMap" parameterType="com.zhph.model.sys.SysConfigType">
		SELECT *FROM sys_config_type
		<where>
			<if test="sysCode!=null and sysCode!=''">
				SYS_CODE like CONCAT(CONCAT('%', #{sysCode}),'%')
			</if>
			<if test="sysName!=null and sysName!=''">
				SYS_NAME like CONCAT(CONCAT('%', #{sysName}),'%')
			</if>
		</where>
		ORDER BY  id ASC
	</select>

   <select id="getConfigByPSysCode" resultMap="ResultMap"> 
   		select * from sys_config_type where p_sys_code=#{pSysCode} order by sort
   </select>
   
   <select id="getSysConfigTypeList" resultMap="ResultMap"> 
   		select * from sys_config_type where p_sys_code IS NOT NUll AND sys_value IS NOT NULL order by sort 
   </select>

    <select id="querySingleBySysVal" resultMap="ResultMap">
        select * from sys_config_type where SYS_VALUE=#{sysVal} AND p_sys_code =#{p_sys_code}
    </select>
	<!--查询所有的父节点-->
	<select id="queryPConfigType" resultMap="ResultMap">
		SELECT *FROM  SYS_CONFIG_TYPE
		<where>
			AND  P_ID IS NULL
			<if test="q!=null and q!=''">
				AND (SYS_CODE like CONCAT(CONCAT('%', #{q}),'%') or SYS_NAME like CONCAT(CONCAT('%', #{q}),'%'))
			</if>
		</where>
	</select>

	<!--根据父节点编码查询当前排序-->
	<select id="querySortBypCode" resultType="java.lang.Integer" parameterType="com.zhph.model.sys.SysConfigType">
		SELECT MAX(sort) FROM SYS_CONFIG_TYPE WHERE P_SYS_CODE=#{pSysCode} ORDER BY SORT DESC
	</select>

	<!--根据父code查询有没有相同的sysCode和sysName-->
	<select id="queryDuplication" parameterType="com.zhph.model.sys.SysConfigType" resultType="java.lang.Integer">
		SELECT count(*) FROM SYS_CONFIG_TYPE
		<where>
			<if test="pSysCode!=null and pSysCode!=''">
				AND P_SYS_CODE=#{pSysCode}
			</if>
			<if test="sysCode!=null and sysCode!=''">
				AND SYS_CODE=#{sysCode}
			</if>
			<if test="sysName!=null and sysName!=''">
				AND SYS_NAME=#{sysName}
			</if>
		</where>
	</select>

	<!--插入一个数据字典-->
	<insert id="addSysType" parameterType="com.zhph.model.sys.SysConfigType">
		<selectKey resultType="Long" keyProperty="id" order="BEFORE">
			SELECT SQ_SYS_CONFIG_TYPE.nextval AS ID FROM DUAL
		</selectKey>
		INSERT INTO
		SYS_CONFIG_TYPE(
		ID,
		SYS_CODE,
		SYS_NAME,
		SYS_VALUE,
		SORT,
		P_ID,
		P_SYS_CODE,
		DESCRIPTION
		)
		VALUES (
		#{id,jdbcType=BIGINT},
		#{sysCode,jdbcType=VARCHAR},
		#{sysName,jdbcType=VARCHAR},
		#{sysValue,jdbcType=INTEGER},
		#{sort,jdbcType=INTEGER},
		#{pId,jdbcType=BIGINT},
		#{pSysCode,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}
		)
	</insert>

	<!--通过id查询一个字典类型-->
	<select id="queryConfigTypeById" parameterType="java.lang.Long" resultMap="ResultMap">
		SELECT *FROM SYS_CONFIG_TYPE  WHERE  ID=#{id,jdbcType=BIGINT}
	</select>

	<!--通过id删除一条字典类型-->
	<delete id="del" parameterType="java.lang.Long">
		DELETE FROM SYS_CONFIG_TYPE WHERE  ID=#{id,jdbcType=BIGINT}
	</delete>

	<!--修改一条字典类型-->
	<update id="update" parameterType="com.zhph.model.sys.SysConfigType">
		UPDATE SYS_CONFIG_TYPE SET
		SYS_CODE=#{sysCode,jdbcType=VARCHAR},
		SYS_NAME=#{sysName,jdbcType=VARCHAR}
		WHERE ID=#{id}
	</update>
</mapper>