<@compress single_line=true>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<#include "/pages/common/head.html" >
<title>薪资管理系统</title>
</head>
<body>
  <span>欢迎您，${onlineUser.fullName!}</span>
  <button onclick="doLogout()">登出</button>
</body>
<#include "/pages/common/foot.html" >
<script type="text/javascript">
	function doLogout() {
		$.ajax({
			url : '${ctx}/logout',
			type : 'post',
			dataType : 'json',
			data : null,
			cache : false,
			beforeSend : function(xhr) {
			},
			success : function(res) {
				if (res.code == 200) {
					/*location.href = "${ctx}";*/
					if (res.msg)
						index = layer.msg(res.msg, {
							time : 1000
						});
				} else {
					var msg = res.msg ? res.msg : "注销失败！";
					layer.msg(msg);
				}
			},
			error : function(xhr, errorType, errorInfo) {
				var res = xhr.responseJSON;
				var msg = res.msg ? "[" + res.code + "]" + res.msg : "请求错误！";
				layer.msg(msg, {
					time : 2000
				});
			},
			complete : function(xhr, ts) {
			}
		});
	}
</script>
</html>
</@compress>
