<@compress single_line=true>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<#include "/pages/common/head.html" >
<title>薪资管理系统</title>
<style type="text/css">
	.yzm_r{ 
		float:right;
    	margin-top: -33px;
    	margin-right: 5px;
   
	}
</style>
</head>
<script type="text/javascript">
	if (top.location != self.location) {
		top.location.href = self.location.href;
	}
</script>
<body class="login-body">
	<div class="main-logo">
	<!--	<span style="font-size: 20px; color: #fff; margin-left: 20px">logo</span>-->
		<p style="font-size: 25px;padding-bottom:1%;">薪资管理系统</p>
	</div>
	<div class="login-page">
		<div class="login-form clearfix">
			<form id="form">
				<div class="row mtl">
					<div class="pll prl">
						<div class="form-group">
							<label class="login-field-icon icon-user" for="login-name"></label>
							<input type="text" name="userName" class="form-control login-field" value="" placeholder="用户名" />
						</div>
						<div class="form-group">
							<label class="login-field-icon icon-lock" for="login-pass"></label>
							<input type="password" name="pwd" class="form-control login-field" value="" placeholder="密码" />
						</div>
						<div class="form-group" id="yzm_div" style="display:none">
							<label class="login-field-icon icon-support" for="login-yzm"></label>
							<input type="text" name="yzm" class="form-control login-field" value=""  maxlength='5' style="width:70%;" placeholder="验证码" />
							<div class="yzm_r">
								<img id="randomIMG" onclick="this.src='${ctx}/getYzm?rand=' + Math.random();" title="重新获取验证码" />	
							</div>
							<script language="javascript">
								document.getElementById('randomIMG').src = "${ctx}/getYzm?rand="+ Math.random();
							</script>
						</div>
					</div>
				</div>
			</form>
			<div class="row mtm">
				<div class="pll prl">
					<label><input type="checkbox" class="i-checks" />记住账号 </label>
					<div class="pull-right clearfix">
						<button class="btn btn-primary" onclick="doLogin()">
							登&nbsp;&nbsp;录&nbsp;&nbsp; <i class="icon-arrow-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--	<div class="copyright">
		<strong>Copyright</strong> © 2017 <a style="color: white; text-decoration: none;" href="http://www.zhphfinance.com" target="_blank">正合普惠</a>
	</div>-->
</body>
<#include "/pages/common/foot.html" >
<script type="text/javascript">
	
	$(function(){
		var if_yzm = '${IF_YZM}';
		if(if_yzm == '0'){
			$("#yzm_div").hide();
		}else{
			$("#yzm_div").show();
		}
	});
	
	
	$(document).keydown(function(e) {
		if (e.which == 13) {
			doLogin();
		}
	});
	
	function doLogin() {
		$.ajax({
			url : '${ctx}/login',
			type : 'post',
			dataType : 'json',
			data : $("#form").serialize(),
			cache : false,
			beforeSend : function(xhr) {
			},
			success : function(res) {
				if (res.code == 200) {
					location.href = "${ctx}";
					if (res.msg)
						index = layer.msg(res.msg, {
							time : 1000
						});
				} else if (res.code == 523 || res.code == 524 || res.code == 525) {
					layer.open({
						title : "<font style='color:red;'>" + res.msg + "</font>",
						type : 2,
						area : [ '320px', '350px' ],
						skin : 'layui-layer-rim',
						anim : 3,
						resize : false,
						time : 300000,
						content : [ '${ctx}/sys/user/changePwdWin?userName=' + $("input[name='userName']").val(), 'no' ]
					});
				} else {
					var msg = res.msg ? res.msg : "登录失败！";
					layer.msg(msg);
				}
			},
			error : function(xhr, errorType, errorInfo) {
				var res = xhr.responseJSON;
				var msg = res.msg ? "[" + res.code + "]" + res.msg : "请求错误！";
				layer.msg(msg, {
					time : 2000
				});
			},
			complete : function(xhr, ts) {
			}
		});
	}
	
</script>
</html>
</@compress>
