<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhph.mapper.cl.ClSixMonthM2Mapper">

	<resultMap id="clSalaryP2pOrgResultMap" type="com.zhph.model.cl.ClSalaryP2pOrg">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="NO" jdbcType="VARCHAR" property="no" />
	    <result column="NAME" jdbcType="VARCHAR" property="name" />
	    <result column="STATUS" jdbcType="CHAR" property="status" />
	    <result column="ORG_DESC" jdbcType="CHAR" property="orgDesc" />
	    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
	    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
	    <result column="IS_HQ_PI_ENTER" jdbcType="CHAR" property="isHqPiEnter" />
	    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
	    <result column="IS_HQ_PI_ENTER_60" jdbcType="CHAR" property="isHqPiEnter60" />
	    <result column="CATEGORYNUM" jdbcType="VARCHAR" property="categorynum" />
	    <result column="MIN_WAGE_STANDARD" jdbcType="VARCHAR" property="minWageStandard" />
	    <result column="REGION" jdbcType="VARCHAR" property="region" />
	</resultMap>

	<resultMap id="clCreditCoremanagerRclResultMap" type="com.zhph.model.cl.ClCreditCoremanagerRcl">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
	    <result column="RCL" jdbcType="BIGINT" property="rcl" />
	    <result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
	    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	    <result column="ORG_NO" jdbcType="VARCHAR" property="orgNo" />
	</resultMap>
	
	<resultMap id="clCreditCoremanagerCm1ResultMap" type="com.zhph.model.cl.ClCreditCoremanagerCm1">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
	    <result column="QXL" jdbcType="BIGINT" property="qxl" />
	    <result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
	    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	    <result column="ORG_NO" jdbcType="VARCHAR" property="orgNo" />
	</resultMap>
	
	<resultMap id="clCreditCoremanagerM2ResultMap" type="com.zhph.model.cl.ClCreditCoremanagerM2">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
	    <result column="YQL" jdbcType="BIGINT" property="yql" />
	    <result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
	    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	    <result column="ORG_NO" jdbcType="VARCHAR" property="orgNo" />
	</resultMap>
	
	<resultMap id="clCreditCoremanagerM2DetResultMap" type="com.zhph.model.cl.ClCreditCoremanagerM2Det">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="LOAN_CONTRACT_NO" jdbcType="VARCHAR" property="loanContractNo" />
	    <result column="LOAN_NAME" jdbcType="VARCHAR" property="loanName" />
	    <result column="EMP_NO" jdbcType="VARCHAR" property="empNo" />
	    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
	    <result column="TEAM_MANAGER_NO" jdbcType="VARCHAR" property="teamManagerNo" />
	    <result column="TEAM_MANAGER" jdbcType="VARCHAR" property="teamManager" />
	    <result column="CITY_MANAGER_NO" jdbcType="VARCHAR" property="cityManagerNo" />
	    <result column="CITY_MANAGER" jdbcType="VARCHAR" property="cityManager" />
	    <result column="GEGION_MANAGER_NO" jdbcType="VARCHAR" property="gegionManagerNo" />
	    <result column="GEGION_MANAGER" jdbcType="VARCHAR" property="gegionManager" />
	    <result column="PAY_DATE" jdbcType="VARCHAR" property="payDate" />
	    <result column="OVERDUE_DAYS" jdbcType="BIGINT" property="overdueDays" />
	    <result column="LOAN_AMOUNT" jdbcType="BIGINT" property="loanAmount" />
	    <result column="GRANT_LOAN_AMOUNT" jdbcType="BIGINT" property="grantLoanAmount" />
	    <result column="ORG" jdbcType="VARCHAR" property="org" />
	    <result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
	    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	    <result column="ORGNO" jdbcType="VARCHAR" property="orgno" />

	</resultMap>
	
	<resultMap id="clCreditBranchRclResultMap" type="com.zhph.model.cl.ClCreditBranchRcl">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName" />
	    <result column="RCL" jdbcType="BIGINT" property="rcl" />
	    <result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
	    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	</resultMap>
	
	<resultMap id="clCreditBranchCm1ResultMap" type="com.zhph.model.cl.ClCreditBranchCm1">
		<result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
		<result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName" />
		<result column="QXL" jdbcType="BIGINT" property="qxl" />
		<result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
		<result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	</resultMap>
	
	<resultMap id="clCreditBranchM2ResultMap" type="com.zhph.model.cl.ClCreditBranchM2">
	    <result column="PRI_NUMBER" jdbcType="BIGINT" property="priNumber" />
	    <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName" />
	    <result column="YQL" jdbcType="BIGINT" property="yql" />
	    <result column="GZ_YM" jdbcType="VARCHAR" property="gzYm" />
	    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
	</resultMap>
	
	<select id="queryAllM2Detail" parameterType="com.zhph.model.cl.ClCreditCoremanagerM2Det" resultMap="clCreditCoremanagerM2DetResultMap">
		SELECT * FROM  CL_CREDIT_COREMANAGER_M2_DET w
		<where>
			<if test="loanContractNo!=null and loanContractNo!='' ">
				AND w.LOAN_CONTRACT_NO like '%'||#{loanContractNo}||'%'
			</if>
			<if test="loanName!=null and loanName!='' ">
				AND w.LOAN_NAME like '%'||#{loanName}||'%'
			</if>
			<if test="empName!=null and empName!='' ">
				AND w.EMP_NAME like '%'||#{empName}||'%'
			</if>
			<if test="gzYm!=null and gzYm!='' ">
				AND w.GZ_YM like '%'||#{gzYm}||'%'
			</if>
		</where>
		ORDER BY w.CREATE_TIME DESC
	</select>
	
	<!-- 查询所有分公司  -->
	<select id="selectSalaryP2pOrg"  parameterType="Object" resultMap="clSalaryP2pOrgResultMap">
		select * from CL_SALARY_P2P_ORG where STATUS='1'
	</select>
	 
	<!-- 处理工资年月的RCL入催率 -->
	<delete id="delClCreditCoremanagerRcl" parameterType="Object">
		delete from CL_CREDIT_COREMANAGER_RCL t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectRclList"  parameterType="Object" resultMap="clCreditCoremanagerRclResultMap">
		select '全国' as ORG_NAME,round(sum(case when YQ_NEW &gt; 0 then 1 else 0 end)/count(loan_contract_no),4) as rcl from (select a.loan_contract_no,a.bucket1   as bucket1_bs,a.loanbalance as loanbalance_bs,a.status as status_bs,b.bucket1,b.status,b.month_pay_date,b.loanbalance,b.city,b.part,b.yq_new,b.QUYU from CLSPUSER.t_invent_all a left join CLSPUSER.mv_invent_tmp b on a.loan_contract_no = b.loan_contract_no where a.BILLINGMONTH = to_char(add_months(sysdate, -2), 'yyyy-MM') and a.SERVICE_LINE = 'XD') where BUCKET1_BS=0 and STATUS_BS!=5 AND STATUS_BS!=3
		UNION            
		select city as ORG_NAME,round(sum(case when YQ_NEW &gt; 0 then 1 else 0 end)/count(loan_contract_no),4) as rcl from (select a.loan_contract_no,a.bucket1   as bucket1_bs,a.loanbalance as loanbalance_bs,a.status as status_bs,b.bucket1,b.status,b.month_pay_date,b.loanbalance,b.city,b.part,b.yq_new,b.QUYU from CLSPUSER.t_invent_all a left join CLSPUSER.mv_invent_tmp b on a.loan_contract_no = b.loan_contract_no where a.BILLINGMONTH = to_char(add_months(sysdate, -2), 'yyyy-MM') and a.SERVICE_LINE = 'XD') where BUCKET1_BS=0 and STATUS_BS!=5 AND STATUS_BS!=3 and city is not null group by city
	</select>
	
	<insert id="saveClCreditStoreManagerRCL" parameterType="java.util.List">
	    insert into CL_CREDIT_COREMANAGER_RCL (   
	        PRI_NUMBER,
	        ORG_NO,
	        ORG_NAME,
	        RCL,
	        GZ_YM,
	        CREATE_TIME
	    ) SELECT SQ_CL_CREDIT_COREMANAGER_RCL.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.orgNo},
	        #{item.orgName},
	        #{item.rcl},
	        #{item.gzYm},
	        #{item.createTime}
            FROM dual
        </foreach>
        )A
	</insert>
	
	
	<!-- 处理工资年月的C-M1迁徙率 -->
	<delete id="delClCreditCoremanagerCm1" parameterType="Object">
		delete from CL_CREDIT_COREMANAGER_CM1 t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectQxlList"  parameterType="Object" resultMap="clCreditCoremanagerCm1ResultMap">
		select '全国' as ORG_NAME,round(sum(case when month_pay_date &lt; to_char(sysdate,'yyyy-MM')||'-01' and bucket1 &gt; 0 and status!=5 then loanbalance else 0 end)/sum(loanbalance_bs),4) as QXL from (select a.loan_contract_no,a.bucket1 as bucket1_bs,a.loanbalance as loanbalance_bs,a.status as status_bs,b.bucket1,b.status,b.month_pay_date,b.loanbalance,b.city,b.part,b.yq_new,b.QUYU from CLSPUSER.t_invent_all a left join CLSPUSER.mv_invent_tmp b on a.loan_contract_no = b.loan_contract_no where a.BILLINGMONTH = to_char(add_months(sysdate, -2), 'yyyy-MM') and a.SERVICE_LINE = 'XD') where bucket1_bs=0 and status_bs!=5 
	 	UNION  
	 	select DISTINCT city AS ORG_NAME,decode(SUM (loanbalance_bs),0,50,round(sum(case when month_pay_date &lt; to_char(sysdate,'yyyy-MM')||'-01' and bucket1 &gt; 0 and status!=5 then loanbalance else 0 end)/sum(loanbalance_bs),4)) as QXL from (select a.loan_contract_no,a.bucket1   as bucket1_bs,a.loanbalance as loanbalance_bs,a.status as status_bs,b.bucket1,b.status,b.month_pay_date,b.loanbalance,b.city,b.part,b.yq_new,b.QUYU from CLSPUSER.t_invent_all a left join CLSPUSER.mv_invent_tmp b on a.loan_contract_no = b.loan_contract_no where a.BILLINGMONTH = to_char(add_months(sysdate, -2), 'yyyy-MM') and a.SERVICE_LINE = 'XD') where bucket1_bs=0 and status_bs!=5 and city is not null group by city
	</select>
	
	<insert id="saveClCreditCoremanagerCm1" parameterType="java.util.List">
	    insert into CL_CREDIT_COREMANAGER_CM1 (   
	        PRI_NUMBER,
	        ORG_NO,
	        ORG_NAME,
	        QXL,
	        GZ_YM,
	        CREATE_TIME
	    )SELECT SQ_CL_CREDIT_COREMANAGER_CM1.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.orgNo},
	        #{item.orgName},
	        #{item.qxl},
	        #{item.gzYm},
	        #{item.createTime}
            FROM dual
        </foreach>
        )A
	</insert>
	
	<!-- 处理工资年月的m2+逾期率-->
	<delete id="delClCreditCoremanagerM2" parameterType="Object">
		delete from CL_CREDIT_COREMANAGER_M2 t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectYqlList"  parameterType="Object" resultMap="clCreditCoremanagerM2ResultMap">
		select '全国' ORG_NAME ,round(count(case when month_pay_date &lt; to_char(add_months(sysdate,-1),'yyyy-MM')||'-01' and bucket1 &gt; 1 and status!=5   then loan_contract_no else '' end)/count(loan_contract_no),4) as yql from CLSPUSER.mv_invent_tmp where SERVICE_LINE='XD' and OPENMONTH  &gt;=to_char(add_months(sysdate,-6),'yyyy-MM') and OPENMONTH &lt;= TO_CHAR (ADD_MONTHS (SYSDATE ,- 1),'yyyy-MM')          
		union 
		select DISTINCT city as ORG_NAME,decode(count(loan_contract_no),0,0,round(count(case when month_pay_date &lt; to_char(add_months(sysdate,-1),'yyyy-MM')||'-01' and bucket1 &gt; 1 and status!=5 then loan_contract_no else '' end)/count(loan_contract_no),4)) as yql from CLSPUSER.mv_invent_tmp where SERVICE_LINE='XD' and OPENMONTH &gt;=to_char(add_months(sysdate,-6),'yyyy-MM') and OPENMONTH &lt;= TO_CHAR (ADD_MONTHS (SYSDATE ,- 1),'yyyy-MM') and city is not null group by city
	</select>
	
	<insert id="saveClCreditCoremanagerM2" parameterType="java.util.List">
	    insert into CL_CREDIT_COREMANAGER_M2 (   
	        PRI_NUMBER,
	        ORG_NO,
	        ORG_NAME,
	        YQL,
	        GZ_YM,
	        CREATE_TIME
	    )SELECT SQ_CL_CREDIT_COREMANAGER_M2.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.orgNo},
	        #{item.orgName},
	        #{item.yql},
	        #{item.gzYm},
	        #{item.createTime}
            FROM dual
        </foreach>
        )A
	</insert>
	
	
	<!-- 处理工资年月的M2+逾期率明细 -->
	<delete id="delClCreditCoremanagerM2Det" parameterType="java.lang.String">
		delete from CL_CREDIT_COREMANAGER_M2_DET t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectM2List"  parameterType="Object" resultMap="clCreditCoremanagerM2DetResultMap">
		select LOAN_CONTRACT_NO,BUSINESS_MANAGER_NO BUSINESS_MANAGER,LOAN_NAME,PAY_DATE,LOAN_AMOUNT,GRANT_LOAN_AMOUNT,CITY from CLSPUSER.mv_invent_tmp  where SERVICE_LINE='XD' and OPENMONTH &gt;=to_char(add_months(sysdate,-6),'yyyy-MM') and OPENMONTH &lt;= TO_CHAR (ADD_MONTHS (SYSDATE ,- 1),'yyyy-MM') and month_pay_date &lt; to_char(add_months(sysdate,-1),'yyyy-MM')||'-01' and bucket1 &gt; 1 and status!=5 and city is not null
	</select>
	
	<select id="selectOverdueDaysList"  parameterType="Object" resultMap="clCreditCoremanagerM2DetResultMap">
		select OVERDUE_DAYS from clspuser.zh_p2p_penalty_total where LOAN_CONTRACT_NO= #{loanContractNo}
	</select>
	
	<insert id="saveClCreditCoremanagerM2Det" parameterType="java.util.List">
	    insert into CL_CREDIT_COREMANAGER_M2_DET (   
	        PRI_NUMBER,
	        LOAN_CONTRACT_NO,
	        LOAN_NAME,
	        EMP_NO,
	        EMP_NAME,
	        TEAM_MANAGER_NO,
	        TEAM_MANAGER,
	        CITY_MANAGER_NO,
	        CITY_MANAGER,
	        GEGION_MANAGER_NO,
	        GEGION_MANAGER,
	        PAY_DATE,
	        OVERDUE_DAYS,
	        LOAN_AMOUNT,
	        GRANT_LOAN_AMOUNT,
	        ORG,
	        GZ_YM,
	        CREATE_TIME,
	        ORGNO
	    )SELECT SQ_CL_CREDIT_COREMANAGER_M2DET.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.loanContractNo},
	        #{item.loanName},
	        #{item.empNo},
	        #{item.empName},
	        #{item.teamManagerNo},
	        #{item.teamManager},
	        #{item.cityManagerNo},
	        #{item.cityManager},
	        #{item.gegionManagerNo},
	        #{item.gegionManager},
	        #{item.payDate},
	        #{item.overdueDays},
	        #{item.loanAmount},
	        #{item.grantLoanAmount},
	        #{item.org},
	        #{item.gzYm},
	        #{item.createTime},
	        #{item.orgno}
            FROM dual
        </foreach>
        )A
	</insert>
	
	<!-- 处理分部工资年月的RCL入催率 -->
	<delete id="delClCreditBranchRcl" parameterType="Object">
		delete from CL_CREDIT_BRANCH_RCL t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectBrclList"  parameterType="Object" resultMap="clCreditBranchRclResultMap">
		select PART AS BRANCH_NAME,round(sum(case when YQ_NEW &gt; 0 then 1 else 0 end)/count(loan_contract_no),4) as rcl from (select a.loan_contract_no,a.bucket1 as bucket1_bs,a.loanbalance as loanbalance_bs,a.status as status_bs,b.bucket1,b.status,b.month_pay_date,b.loanbalance,b.city,b.part,b.yq_new,b.QUYU from CLSPUSER.t_invent_all a left join CLSPUSER.mv_invent_tmp b on a.loan_contract_no = b.loan_contract_no where a.BILLINGMONTH = to_char(add_months(sysdate, -2), 'yyyy-MM') and a.SERVICE_LINE = 'XD')  where BUCKET1_BS=0 and STATUS_BS!=5  and part is not null group by PART
	</select>
	
	<insert id="saveClCreditBranchRcl" parameterType="java.util.List">
	    insert into CL_CREDIT_BRANCH_RCL (   
	        PRI_NUMBER,
	        BRANCH_NAME,
	        RCL,
	        GZ_YM,
	        CREATE_TIME
	    )SELECT SQ_CL_CREDIT_BRANCH_RCL.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.branchName},
	        #{item.rcl},
	        #{item.gzYm},
	        #{item.createTime}
            FROM dual
        </foreach>
        )A
	</insert>
	
	
	<!-- 处理分部工资年月的C-M1迁徙率 -->
	<delete id="delClCreditBranchCm1" parameterType="Object">
		delete from CL_CREDIT_BRANCH_CM1 t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectBqxlList"  parameterType="Object" resultMap="clCreditBranchCm1ResultMap">
		select PART AS BRANCH_NAME,decode(count(loan_contract_no),0,0,round(count(case when month_pay_date &lt; to_char(add_months(sysdate,-1),'yyyy-MM')||'-01' and bucket1 &gt; 1 and status!=5 then loan_contract_no else '' end)/count(loan_contract_no),4)) as yql from CLSPUSER.mv_invent_tmp where SERVICE_LINE='XD' and OPENMONTH &gt;=to_char(add_months(sysdate,-6),'yyyy-MM') and OPENMONTH &lt;= TO_CHAR (ADD_MONTHS (SYSDATE ,- 1),'yyyy-MM')  and part is not null group by PART
	</select>
	
	<insert id="saveClCreditBranchCm1" parameterType="java.util.List">
	    insert into CL_CREDIT_BRANCH_CM1 (   
	        PRI_NUMBER,
	        BRANCH_NAME,
	        QXL,
	        GZ_YM,
	        CREATE_TIME
	    )SELECT SQ_CL_CREDIT_BRANCH_CM1.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.branchName},
	        #{item.qxl},
	        #{item.gzYm},
	        #{item.createTime}
            FROM dual
        </foreach>
        )A
	</insert>
	
	
	<!-- 处理分部工资年月的m2+逾期率 -->
	<delete id="delClCreditBranchM2" parameterType="Object">
		delete from CL_CREDIT_BRANCH_M2 t where t.gz_ym = #{gzYm}
	</delete>
	
	<select id="selectByqlList"  parameterType="Object" resultMap="clCreditBranchM2ResultMap">
		select PART AS BRANCH_NAME,decode(SUM (loanbalance_bs),0,50,round(sum(case when month_pay_date &lt; to_char(sysdate,'yyyy-MM')||'-01' and bucket1 &gt; 0 and status!=5 then loanbalance else 0 end)/sum(loanbalance_bs),4)) as QXL from (select a.loan_contract_no,a.bucket1 as bucket1_bs,a.loanbalance as loanbalance_bs,a.status as status_bs,b.bucket1,b.status,b.month_pay_date,b.loanbalance,b.city,b.part,b.yq_new,b.QUYU from CLSPUSER.t_invent_all a left join CLSPUSER.mv_invent_tmp b on a.loan_contract_no = b.loan_contract_no where a.BILLINGMONTH = to_char(add_months(sysdate, -2), 'yyyy-MM') and a.SERVICE_LINE = 'XD') where bucket1_bs=0 and status_bs!=5 and part is not null group by PART
	</select>

	<insert id="saveClCreditBranchM2" parameterType="java.util.List">
	    insert into CL_CREDIT_BRANCH_M2 (   
	        PRI_NUMBER,
	        BRANCH_NAME,
	        YQL,
	        GZ_YM,
	        CREATE_TIME
	    )SELECT SQ_CL_CREDIT_BRANCH_M2.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
	        #{item.branchName},
	        #{item.yql},
	        #{item.gzYm},
	        #{item.createTime}
            FROM dual
        </foreach>
        )A
	</insert>
	
</mapper>