<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.cf.CfAttendanceMapper">
    <resultMap id="BaseResultMap" type="com.zhph.model.cf.CfAttendance">
        <id column="pri_number" jdbcType="BIGINT" property="priNumber" />
        <result column="emp_no" jdbcType="VARCHAR" property="empNo" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="gzym" jdbcType="VARCHAR" property="gzym" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptCode" />
        <result column="business_name" jdbcType="VARCHAR" property="businessNameo" />
        <result column="rank_name" jdbcType="VARCHAR" property="rankName" />
        <result column="post_name" jdbcType="VARCHAR" property="postName" />
        <result column="enter_date" jdbcType="VARCHAR" property="enterDate" />
        <result column="leave_date" jdbcType="VARCHAR" property="leaveDate" />

        <result column="ought_attend" jdbcType="INTEGER" property="oughtAttend" />
        <result column="real_attend" jdbcType="DOUBLE" property="realAttend" />
        <result column="personal_leave" jdbcType="DOUBLE" property="personalLeave" />
        <result column="sick_leave" jdbcType="DOUBLE" property="sickLeave" />
        <result column="welfare_leave" jdbcType="DOUBLE" property="welfareLeave" />
        <result column="welfare_leave1" jdbcType="DOUBLE" property="welfareLeave1" />
        <result column="welfare_leave2" jdbcType="DOUBLE" property="welfareLeave2" />
        <result column="commute_clock" jdbcType="INTEGER" property="commuteClockAbnormal" />
        <result column="spot_check_clock" jdbcType="INTEGER" property="spotCheckClockAbnormal" />
        <result column="absenteeism" jdbcType="DOUBLE" property="absenteeism" />

    </resultMap>

    <sql id="Base_Column_List">
        h.pri_number,
        h.emp_no,
        h.emp_name,
        h.gzym,
        h.create_time,
        h.creator,
        h.dept_name,
        h.post_name,
        h.rank_name,
        h.enter_date,
        h.leave_date,
        h.ought_attend,
        h.real_attend,
        h.personal_leave,
        h.sick_leave,
        h.welfare_leave,
        h.welfare_leave1,
        h.welfare_leave2,
        h.commute_clock,
        h.spot_check_clock,
        h.absenteeism,
        h.business_name
    </sql>

    <select id="queryAttendanceBygzym" resultMap="BaseResultMap" parameterType="com.zhph.model.cf.CfAttendance">
        select
        h.*
        from CF_ATTENDANCE h
        <where>
            <if test=" gzym != null and gzym != '' ">
                and h.gzym = #{gzym,jdbcType=VARCHAR}
            </if>
            <if test=" empNo != null and empNo != '' ">
                and h.emp_no = #{empNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryList" resultType="java.util.HashMap" parameterType="com.zhph.model.cf.CfAttendance">

        SELECT
        cf.pri_number as "priNumber",--主键标识
        cf.emp_no as "empNo",     --员工编码
        e.emp_name as "empName", --员工姓名
        cf.gz_ym as "gzym", --工资年月
        cf.create_time as "createTime", --开始时间
        cf.creator as "creator", --结束时间
        to_char(e.ENTER_DATE,'yyyy-mm-dd') as "enterDate",--入职时间
        to_char(e.LEAVE_DATE,'yyyy-mm-dd') as "leaveDate",--离职时间
        (
        select b.POS_NAME from hqclcf_business_scheduled b where e.POSITION = b.POS_CODE
        ) as "jobName", --职位
        (
        select
        to_char (
        wm_concat (d.dept_type || '=' || d.dept_name)
        )
        from
        HQCLCF_DEPT d
        where
        d.dept_type is not null
        and d.ID != 1 start with d.ID = (
        select
        TEMP.ID
        from
        HQCLCF_DEPT TEMP
        where
        TEMP.DEPT_CODE = e.DEPT_NO
        ) connect by prior PID = ID
        ) as "deptInfo"
        from
        CF_TIMEAUTOMATED cf
        left join HQCLCF_EMP e on e.EMP_NO = cf.EMP_NO
        <where>
            <!--部门查询-->
            <if test="onlyDeptCode!=null and onlyDeptCode!=''">
                AND  EXISTS (
                SELECT
                dept_code
                FROM
                HQCLCF_DEPT
                WHERE
                e.DEPT_NO = dept_code START WITH ID = #{onlyDeptCode} CONNECT BY PID = PRIOR ID
                )
            </if>
            <!--员工姓名查询-->
            <if test="empName!=null and empName!=''">
                <![CDATA[ AND e.EMP_NAME LIKE CONCAT(CONCAT('%', #{empName}),'%')]]>
            </if>
            <!--员工编码查询-->
            <if test="empNo!=null and empNo!=''">
                <![CDATA[ AND cf.EMP_NO LIKE CONCAT(CONCAT('%', #{empNo}),'%')]]>
            </if>
            <!--员工职务查询-->
            <if test="jobName!=null and jobName!=''">
                AND e.post=#{jobName}
            </if>
            <if test=" gzym != null and gzym != '' ">
                and cf.gz_ym = #{gzym,jdbcType=VARCHAR}
            </if>
            and e.BUSINESS_LINE = 2 --限制消分业务条线
            and e.STATUS_APP = 1 -- 限制审批通过
        </where>
        ORDER BY cf.create_time DESC
    </select>

    <insert id="insertCfAttendanceBatch" parameterType="com.zhph.model.cf.CfAttendance">

        insert into cf_attendance(
              pri_number,
              emp_no,
              emp_name,
              gzym,
              create_time,
              creator,
              dept_name,
              business_name,
              --business_line,
              post_name,
              rank_name,
              enter_date,
              leave_date,
              ought_attend,
              real_attend,
              personal_leave,
              sick_leave,
              welfare_leave,
              welfare_leave1,
              welfare_leave2,
              commute_clock,
              spot_check_clock,
              absenteeism
                        )
        values
        (
              cf_attendance_seq.nextval,
              #{empNo,jdbcType=VARCHAR},
              #{empName,jdbcType=VARCHAR},
              #{gzym,jdbcType=VARCHAR},
              #{createTime,jdbcType=VARCHAR},
              #{creator,jdbcType=VARCHAR},
              #{deptCode,jdbcType=VARCHAR},
              #{businessNameo,jdbcType=VARCHAR},
              #{postName,jdbcType=VARCHAR},
              #{rankName,jdbcType=VARCHAR},
              #{enterDate,jdbcType=VARCHAR},
              #{leaveDate,jdbcType=VARCHAR},
              #{oughtAttend,jdbcType=INTEGER},
              #{realAttend,jdbcType=INTEGER},
              #{personalLeave,jdbcType=INTEGER},
              #{sickLeave,jdbcType=INTEGER},
              #{welfareLeave,jdbcType=INTEGER},
              #{welfareLeave1,jdbcType=INTEGER},
              #{welfareLeave2,jdbcType=INTEGER},
              #{commuteClockAbnormal,jdbcType=INTEGER},
              #{spotCheckClockAbnormal,jdbcType=INTEGER},
              #{absenteeism,jdbcType=DOUBLE}
       )
    </insert>

    <delete id="deleteCfAttendanceBatch">
        delete from CF_ATTENDANCE c
        <where>
            <if test="empNo!=null and empNo!=''">
                and emp_no = #{empNo}
            </if>
            <if test="gzym!=null and gzym!=''">
                and gzym = #{gzym}
            </if>
        </where>
    </delete>

</mapper>