<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.cf.CfAttendanceDtoMapper">
    <resultMap id="BaseResultMap" type="com.zhph.model.cf.dto.CfAttendanceDto">
        <result column="emp_no" jdbcType="VARCHAR" property="empNo"/>
        <result column="deptinfo" jdbcType="VARCHAR" property="deptInfo"/>
        <result column="deptcodeinfo" jdbcType="VARCHAR" property="deptCodeInfo"/>
    </resultMap>

    <select id="queryDeptDto" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        D.EMP_NO,(SELECT TO_CHAR(WM_CONCAT(H.DEPT_TYPE||'='||H.DEPT_NAME))
             FROM HQCLCF_DEPT H
             WHERE DEPT_TYPE
                   IS NOT NULL AND ID !=1 START WITH ID= (SELECT ID FROM HQCLCF_DEPT TEMP WHERE TEMP.DEPT_CODE=D.DEPT_NO)
             CONNECT BY PRIOR PID = ID) as DEPTINFO,
  (SELECT TO_CHAR(WM_CONCAT(H.DEPT_TYPE||'='||H.DEPT_CODE))
                                             FROM HQCLCF_DEPT H
                                             WHERE DEPT_TYPE
                                                   IS NOT NULL AND ID !=1 START WITH ID= (SELECT ID FROM HQCLCF_DEPT TEMP WHERE TEMP.DEPT_CODE=D.DEPT_NO)
                                             CONNECT BY PRIOR PID = ID) as DEPTCODEINFO


        FROM HQCLCF_EMP D
        where D.EMP_NO = #{empNo}
    </select>


</mapper>