<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.cf.CfEmpStatusMapper">
    <resultMap id="BaseResultMap" type="com.zhph.model.cf.CfEmpStatus">
        <result column="pri_number" jdbcType="BIGINT" property="priNumber"/>
        <result column="emp_no" jdbcType="VARCHAR" property="empNo"/>
        <result column="statuss" jdbcType="INTEGER" property="status"/>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"/>
        <result column="end_date" jdbcType="VARCHAR" property="endDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_Date" jdbcType="VARCHAR" property="createDate"/>
        <result column="update_Date" jdbcType="VARCHAR" property="updateDate"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
        <result column="deptArea" jdbcType="VARCHAR" property="deptArea"/>
        <result column="orgNo" jdbcType="VARCHAR" property="orgNo"/>
        <result column="salesDept" jdbcType="VARCHAR" property="salesDept"/>
        <result column="deptCode" jdbcType="VARCHAR" property="deptCode"/>
        <result column="jobName" jdbcType="VARCHAR" property="jobName"/>
        <result column="statusName" jdbcType="VARCHAR" property="statusName"/>
    </resultMap>

    <select id="queryDeptDto" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        D.EMP_NO,(select TO_CHAR(WM_CONCAT(H.DEPT_TYPE||'='||H.DEPT_NAME))
        from HQCLCF_DEPT H
        where DEPT_TYPE
        is not null and ID !=1 START with ID= (select ID from HQCLCF_DEPT TEMP where TEMP.DEPT_CODE=D.DEPT_NO)
        connect by prior PID = ID) as DEPTINFO


        from HQCLCF_EMP D
        where D.EMP_NO = #{empNo}
    </select>

    <sql id="BaseSql">
        a.pri_number,
        a.emp_no,
        a.statuss,
        a.start_date,
        a.end_date,
        a.remark,
        a.create_date,
        a.creator,
        a.update_date,
        a.updator
    </sql>

    <select id="queryAllEmpStatuses" parameterType="com.zhph.model.cf.CfEmpStatus" resultMap="BaseResultMap">
        select e.EMP_NAME as empName,
        (
        select to_char(deptArea.DEPT_CODE) from HQCLCF_DEPT deptArea
        where DEPT_TYPE
        = '1' and ID !=1
        start with id = (
        <choose>
            <when test="deptArea !=null and deptArea !='' ">
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=#{deptArea}
            </when>
            <otherwise>
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=d.DEPT_CODE
            </otherwise>
        </choose>
        )
        connect by prior PID = id
        ) as deptArea, --大区
        (
        select to_char(deptArea.DEPT_CODE) from HQCLCF_DEPT deptArea
        where DEPT_TYPE
        = '2' and ID !=1
        start with id = (
        <choose>
            <when test="orgNo !=null and orgNo !='' ">
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=#{deptArea}
            </when>
            <otherwise>
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=d.DEPT_CODE
            </otherwise>
        </choose>
        )
        connect by prior PID = id
        ) as orgNo, --分中心
        (
        select to_char(deptArea.DEPT_CODE) from HQCLCF_DEPT deptArea
        where DEPT_TYPE
        = '3' and ID !=1
        start with id = (
        <choose>
            <when test="salesDept !=null and salesDept !='' ">
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=#{deptArea}
            </when>
            <otherwise>
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=d.DEPT_CODE
            </otherwise>
        </choose>
        )
        connect by prior PID = id
        ) as salesDept, --营业部
        (
        select to_char(deptArea.DEPT_CODE) from HQCLCF_DEPT deptArea
        where DEPT_TYPE
        = '4' and ID !=1
        start with id = (
        <choose>
            <when test="deptCode !=null and deptCode !='' ">
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=#{deptArea}
            </when>
            <otherwise>
                select deptTypeTwo.ID from HQCLCF_DEPT deptTypeTwo where deptTypeTwo.DEPT_CODE=d.DEPT_CODE
            </otherwise>
        </choose>
        )
        connect by prior PID = id
        ) as deptCode, --团队
        p.POST_NAME,
        c.emp_no,
        c.PRI_NUMBER,
        c.STATUSS,
        c.START_DATE,
        c.END_DATE,
        c.CREATOR,
        c.CREATE_DATE,
        c.UPDATOR,
        c.UPDATE_DATE,
        c.REMARK
        from CF_EMPSTATUS c
        left join HQCLCF_EMP e on c.EMP_NO = e.EMP_NO
        left join HQCLCF_DEPT d on e.DEPT_NO = d.DEPT_CODE
        left join HQCLCF_POST p on e.POST = p.POST_NO
        <where>
            <if test="status !=null and status != '' ">
                and a.statuss = #{status}
            </if>
            <if test="startDate !=null and startDate != '' ">
                and a.start_date = #{startDate}
            </if>
            <if test="endDate !=null and endDate != '' ">
                and a.end_date = #{endDate}
            </if>
            <if test="isend !=null and isend != '' ">
                <if test="isend ==1">
                    and a.end_date is not null
                </if>
                <if test="isend ==2">
                    and a.end_date is null
                </if>
            </if>
            <if test="empName!=null and empName!='' ">
                and e.emp_name like '%${empName}%'
            </if>
            <if test="updateDate !=null and updateDate != '' ">
                and a.update_date = #{updateDate}
            </if>
            <if test="updator !=null and updator != '' ">
                and a.updator = #{updator}
            </if>
            <if test="priNumber != null and priNumber!='' ">
                and a.pri_number = #{priNumber}
            </if>
            <if test="empNo != null and empNo!='' ">
                and a.emp_no like '%${empNo}%'
            </if>
            <if test="jobName != null and jobName!='' ">
                and p.post_no = #{jobName}
            </if>
        </where>
    </select>

    <select id="queryList" resultType="java.util.HashMap" parameterType="com.zhph.model.cf.CfEmpStatus">
        SELECT
        cf.pri_number as "priNumber",--主键标识
        cf.emp_no as "empNo", --员工编码
        e.emp_name as "empName", --员工姓名
        cf.statuss as "statusName", --状态
        cf.create_date as "createDate", --创建时间
        cf.start_date as "startDate", --开始时间
        cf.end_date as "endDate", --结束时间
        cf.remark as "remark",--描述
        (
        select b.POS_NAME from hqclcf_business_scheduled b where e.e.POSITION = b.POS_CODE
        ) as "jobName",
        (
        select
        to_char (
        wm_concat (d.dept_type || '=' || d.dept_name)
        )
        from
        HQCLCF_DEPT d
        where
        d.dept_type is not null
        and d.ID != 1 start with d.ID = (
        select
        TEMP.ID
        from
        HQCLCF_DEPT TEMP
        where
        TEMP.DEPT_CODE = e.DEPT_NO
        ) connect by prior PID = ID
        ) as "deptInfo"
        from
        CF_EMPSTATUS cf
        left join HQCLCF_EMP e on e.EMP_NO = cf.EMP_NO
        <where>
            <!--部门查询-->
            <if test="otherQuery!=null and otherQuery!=''">
                AND EXISTS (
                SELECT
                dept_code
                FROM
                HQCLCF_DEPT
                WHERE
                e.DEPT_NO = dept_code START WITH ID = #{otherQuery} CONNECT BY PID = PRIOR ID
                )
            </if>
            <!--员工姓名查询-->
            <if test="empName!=null and empName!=''">
                <![CDATA[ AND e.EMP_NAME LIKE CONCAT(CONCAT('%', #{empName}),'%')]]>
            </if>
            <!--员工编码查询-->
            <if test="empNo!=null and empNo!=''">
                <![CDATA[ AND cf.EMP_NO LIKE CONCAT(CONCAT('%', #{empNo}),'%')]]>
            </if>
            <!--员工职务查询-->
            <if test="jobName!=null and jobName!=''">
                AND e.POST=#{jobNo}
            </if>
            <if test="priNumber!=null and priNumber!='' ">
                AND cf.pri_number=#{priNumber}
            </if>
            <if test="status!=null and status!='' ">
                AND cf.statuss =#{status}
            </if>
            <if test="isend !=null and isend != '' ">
                <if test="isend ==1">
                    and cf.end_date is not null
                </if>
                <if test="isend ==2">
                    and cf.end_date is null
                </if>
            </if>
            <if test="startDate!=null and startDate!='' ">
                <![CDATA[ and to_date(cf.start_date,'yyyy-mm-dd') >= to_date(#{startDate},'yyyy-mm-dd')  ]]>
            </if>
            <if test="endDate!=null and endDate!='' ">
                <![CDATA[ and to_date(cf.end_date,'yyyy-mm-dd') <= to_date(#{endDate},'yyyy-mm-dd')  ]]>
            </if>

            and e.business_line in
            <foreach collection="sysUser" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>


        </where>
        ORDER BY cf.CREATE_DATE DESC
    </select>

    <select id="queryEmpByPriMarkey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="BaseSql"/>
        from CF_EMPSTATUS a
        <where>
            <if test="id != null and id!='' ">
                and a.pri_number = #{id}
            </if>
        </where>
    </select>

    <select id="queryEmpByEmpNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql"/>
        from CF_EMPSTATUS a
        where a.END_DATE is null
            <if test="empNo != null and empNo!='' ">
                and a.emp_no = #{empNo}
            </if>
    </select>

    <!--批量插入数据-->
    <insert id="batchInsertList" parameterType="com.zhph.model.cf.CfEmpStatus">
        INSERT INTO CF_EMPSTATUS
        (
        PRI_NUMBER,
        EMP_NO,
        STATUSS,
        START_DATE,
        END_DATE,
        REMARK,
        CREATOR,
        CREATE_DATE
        )
        SELECT CF_EMPSTATUS_SEQ.nextval PRI_NUMBER,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.empNo,jdbcType=VARCHAR},
            #{item.status,jdbcType=VARCHAR},
            #{item.startDate,jdbcType=VARCHAR},
            #{item.endDate,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=VARCHAR}
            FROM dual
        </foreach>
        )A
    </insert>

    <insert id="insert" parameterType="com.zhph.model.cf.CfEmpStatus">
        insert into cf_empstatus(
        pri_number,
        emp_no,
        statuss,
        start_date,
        creator,
        create_date
        <if test="remark!=null and remark!='' ">
            ,remark
        </if>

        ) values (
        CF_EMPSTATUS_SEQ.nextval,
        #{empNo},
        #{status},
        #{startDate},
        #{creator},
        #{createDate}
        <if test="remark!=null and remark!='' ">
            ,#{remark}
        </if>
        )
    </insert>

    <select id="autoEmpStatus" statementType="CALLABLE">
        <![CDATA[

         {call STP_AUTO_EMP_STATUS_CN()}

        ]]>
    </select>

    <update id="updateEmpStatuses" parameterType="com.zhph.model.cf.CfEmpStatus">
        update CF_EMPSTATUS a
        <set>
            <if test="status !=null and status != '' ">
                a.statuss = #{status},
            </if>
            <if test="startDate !=null and startDate != '' ">
                a.start_date = #{startDate},
            </if>
            <if test="endDate !=null and endDate != '' ">
                a.end_date = #{endDate},
            </if>
            <if test="remark !=null and remark != '' ">
                a.remark = #{remark},
            </if>
            <if test="updateDate !=null and updateDate != '' ">
                a.update_date = #{updateDate},
            </if>
            <if test="updator !=null and updator != '' ">
                a.updator = #{updator},
            </if>
        </set>
        <where>
            <if test="priNumber != null and priNumber!='' ">
                and a.pri_number = #{priNumber}
            </if>
            <if test="empNo != null and empNo!='' ">
                and a.emp_no = #{empNo}
            </if>
        </where>
    </update>
    
    <select id="queryCfEmpStatusByEmpNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from CF_EMPSTATUS a where a.emp_no = #{empNo}
    </select>
    
</mapper>