<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.cf.CfTimeLockMapper">

    <resultMap type="com.zhph.model.cf.CfTimeLock" id="baseResultMap">
        <id property="priNumber" jdbcType="BIGINT" column="pri_number"/>
        <result property="year" jdbcType="INTEGER" column="year"/>
        <result property="month" jdbcType="INTEGER" column="month"/>
        <result property="isLock" jdbcType="INTEGER" column="is_lock"/>
    </resultMap>

    <!-- 2、各个SeqID -->

    <insert id="insertLock" parameterType="com.zhph.model.cf.CfTimeLock">
        INSERT INTO
        cf_timelock(pri_number,
                    year,
                    month,
                    is_lock
                    )
                    VALUES
                     (
        CF_TIME_LOCK_SEQ.NEXTVAL,
        #{year, jdbcType=INTEGER},
        #{month, jdbcType=INTEGER},
        #{isLock, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteById" parameterType="com.zhph.model.cf.CfTimeLock">
        DELETE FROM cf_timelock
        <where>
            <if test="year != null and year !='' ">
                year = #{year,jdbcType=INTEGER}
            </if>
            <if test="month !=null and month !='' ">
                month = #{month,jdbcType=INTEGER}
            </if>
            <if test="isLock !=null and isLock!='' ">
                is_lock = #{isLock,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <update id="updateLock" parameterType="com.zhph.model.cf.CfTimeLock">
        update cf_timelock
        set is_lock = #{isLock}
        <where>
            <if test="year != null and year !='' ">
                and year = #{year}
            </if>
            <if test="month !=null and month !='' ">
                and month = #{month}
            </if>
        </where>
    </update>


    <select id="queryIsLock" resultMap="baseResultMap" parameterType="com.zhph.model.cf.CfTimeLock">
        select c.*
        from cf_timelock c
        <where>
            <if test="year != null and year !='' ">
               and c.year = #{year}
            </if>
            <if test="month !=null and month !='' ">
               and c.month = #{month}
            </if>
        </where>
    </select>

</mapper>
