<@compress single_line=true>
<!DOCTYPE html>
<head>
<#include "/pages/common/head.html" >
<title>修改密码</title>
<style type="text/css">
.my_lebel {
	width: 60px;
	text-align: right;
	padding-right: 10px;
	text-align: right;
}
</style>
</head>
<body>
  <form id="form" style="margin: 10px 10px 10px 10px;" class="form-inline">
    <table style="border-collapse: separate; border-spacing: 0px 5px;">
      <tr>
        <td class="my_lebel">
          <label class="control-label">登录名</label>
        </td>
        <td class="my_content">
          <input name="userName" type="text" class="form-control" placeholder="登录名" value="${userName!}" required="required" readonly="readonly">
        </td>
      </tr>
      <tr>
        <td class="my_lebel">
          <label class="control-label">原密码</label>
        </td>
        <td class="my_content">
          <input name="pwd" type="password" class="form-control" placeholder="原密码" required="required">
        </td>
      </tr>
      <tr>
        <td class="my_lebel">
          <label class="control-label">新密码</label>
        </td>
        <td class="my_content">
          <input name="newPwd" type="password" class="form-control" placeholder="新密码" required="required">
        </td>
      </tr>
      <tr>
        <td class="my_lebel">
          <label class="control-label">重复</label>
        </td>
        <td class="my_content">
          <input name="rePwd" type="password" class="form-control" placeholder="重复密码" required="required">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="button" class="btn btn-info" style="width: 100%;" onclick="javascript:save();">提交</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <font id="msg" style="color: red;"></font>
        </td>
      </tr>
    </table>
    <br>
  </form>
</body>
<#include "/pages/common/foot.html" >
<script type="text/javascript">
	function validate() {
		$("#msg").text("");

		var $userName = $("input[name='userName']");
		if (!$userName.val()) {
			$userName.focus();
			$("#msg").text("登录名不能为空！");
			return false;
		}

		var $pwd = $("input[name='pwd']");
		var pwd = $pwd.val();
		if (!pwd) {
			$pwd.focus();
			$("#msg").text("原密码不能为空！");
			return false;
		}

		var $newPwd = $("input[name='newPwd']");
		var newPwd = $newPwd.val();
		if (!newPwd) {
			$newPwd.focus();
			$("#msg").text("新密码不能为空！");
			return false;
		} else if (newPwd.length < 8) {
			$newPwd.focus();
			$("#msg").text("新密码太短了，不能少于8位！");
			return false;
		} else if (newPwd.length > 16) {
			$newPwd.focus();
			$("#msg").text("新密码太长了，不能超过16位！");
			return false;
		} else if (!/.*[\w\S]+.*/.test(newPwd)) {
			$newPwd.focus();
			$("#msg").text("新密码仅允许字母、数字、下划线等常见符号！");
			return false;
		} else if (/.*\s+.*/.test(newPwd)) {
			$newPwd.focus();
			$("#msg").text("新密码不能含有空字符！");
			return false;
		} else if (!/.*[a-z]+.*/.test(newPwd) || !/.*[A-Z]+.*/.test(newPwd) || !/.*[0-9]+.*/.test(newPwd)) {
			$newPwd.focus();
			$("#msg").text("新密码必须同时包含大小写字母与数字！");
			return false;
		} else if (newPwd == pwd) {
			$("#msg").text("新密码不能与原密码相同！");
			return false;
		}

		var $rePwd = $("input[name='rePwd']");
		var rePwd = $rePwd.val();
		if (!rePwd) {
			$rePwd.focus();
			$("#msg").text("重复密码不能为空！");
			return false;
		} else if (rePwd != newPwd) {
			$rePwd.focus();
			$("#msg").text("两次输入的密码必须相同！");
			return false;
		}

		$("#msg").text("");
		return true;
	}

	function save() {
		$.ajax({
			url : '${ctx}/sys/user/saveChangePwd',
			type : 'post',
			dataType : 'json',
			data : $("#form").serialize(),
			cache : false,
			beforeSend : function(xhr) {
				return validate();
			},
			success : function(res) {
				if (res.code == "200") {
					if (res.msg) {
						alert(res.msg);
					}
					closeWin();
				} else {
					var msg = res.msg ? res.msg : "系统错误！";
					$("#msg").text(msg);
				}
			},
			error : function(xhr, errorType, errorInfo) {
				$("#msg").text("系统错误！");
			},
			complete : function(xhr, ts) {
			}
		});
	}

	function closeWin() {
		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	}
</script>
</html>
</@compress>
