<script type="text/javascript" src="${ctx}/ui/js/jquery.min.js"></script>
<!--<script type="text/javascript" src="${ctx}/ui/js/plugins/zTree_v3/jquery-1.4.4.min.js"></script>-->
<script type="text/javascript" src="${ctx}/ui/js/plugins/zTree_v3/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/zTree_v3/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/zTree_v3/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript" src="${ctx}/ui/easyui-1.5.1/jquery.easyui.min.js"></script>
<!-- <script type="text/javascript" src="${ctx}/ui/jquery-easyui-1.3.3/jquery.easyui.min.js"></script> -->
<script type="text/javascript" src="${ctx}/ui/js/vendor/modernizr.js"></script>
<!--<script type="text/javascript" src="${ctx}/ui/js/vendor.js"></script>-->
<script type="text/javascript" src="${ctx}/ui/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/custom/custom.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/fileinput/fileinput.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/mixitup/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/grid/grid.zh-CN.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/grid/bsgrid.all.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/validform/Validform_v5.3.2_min.js"></script>
<!--->
<script type="text/javascript" src="${ctx}/ui/js/plugins/layer/layer.js"></script>

<script type="text/javascript" src="${ctx}/ui/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/plugins/layui/layui.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/common.js"></script>
<script type="text/javascript" src="${ctx}/ui/js/jquery.validate-1.13.1.js"></script>
<!--[if lt IE 9]>
    <script src="${ctx}/ui/js/bootstrap/html5shiv.min.js"></script>
    <script src="${ctx}/ui/js/bootstrap/respond.min.js"></script>
    <![endif]-->

<script type="text/javascript">
	$(function() {
		$('input.i-checks').iCheck({
			checkboxClass : 'icheckbox',
			radioClass : 'iradio'
		});
	});
</script>