<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhph.mapper.cf.CfCardAbnormityMapper">
    <resultMap id="CfCardAbnormityResultMap" type="com.zhph.model.cf.CfCardAbnormity">
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="EMP_NO" property="empNo" jdbcType="VARCHAR"/>
        <result column="EMP_NAME" property="empName" jdbcType="VARCHAR"/>
        <result column="GZ_YM" property="gzYm" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR"/>
        <result column="JOB_NO" property="jobNo" jdbcType="VARCHAR"/>
        <result column="UP_WORK_ABNORMITY_NO" property="upWorkAbnormityNo" jdbcType="VARCHAR"/>
        <result column="OFF_WORK_ABNORMITY_NO" property="offWorkAbnormityNo" jdbcType="VARCHAR"/>
        <result column="CHECK_ABNORMITY_NO" property="checkAbnormityNo" jdbcType="VARCHAR"/>
        <result column="ABNORMITY_TOTAL_NO" property="abnormityTotalNo" jdbcType="VARCHAR"/>
        <result column="ABSENTEEISM_NO" property="absenteeismNo" jdbcType="VARCHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="UPDATOR" property="updator" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--表中所有字段-->
    <sql id="Base_Column_List">
        ID,
        EMP_NO,
        EMP_NAME,
        GZ_YM,
        DEPT_CODE,
        JOB_NO,
        UP_WORK_ABNORMITY_NO,
        OFF_WORK_ABNORMITY_NO,
        CHECK_ABNORMITY_NO,
        ABNORMITY_TOTAL_NO,
        ABSENTEEISM_NO,
        CREATOR,
        UPDATOR,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <!--插入的实体对象值，允许为空-->
    <sql id="Base_Column_Filed">
     #{id,jdbcType=BIGINT},
     #{empNo,jdbcType=VARCHAR},
     #{empName,jdbcType=VARCHAR},
     #{gzYm,jdbcType=VARCHAR},
     #{deptCode,jdbcType=VARCHAR},
     #{jobNo,jdbcType=VARCHAR},
     #{upWorkAbnormityNo,jdbcType=VARCHAR},
     #{offWorkAbnormityNo,jdbcType=VARCHAR},
     #{checkAbnormityNo,jdbcType=VARCHAR},
     #{abnormityTotalNo,jdbcType=VARCHAR},
     #{absenteeismNo,jdbcType=VARCHAR},
     #{creator,jdbcType=VARCHAR},
     #{updator,jdbcType=VARCHAR},
     #{createtime,jdbcType=TIMESTAMP},
     #{updatetime,jdbcType=TIMESTAMP}
    </sql>

    <!--查询条件-->
    <sql id="Example_Where_Clause">
    <where>
    <if test="id != null and id !='' or id==0 ">
        AND ID=#{id}
    </if>
    <if test="gzYm!=null and gzYm!=''">
        AND GZ_YM=#{gzYm}
    </if>
    </where>
    </sql>

    <!--批量插入数据-->
    <insert id="batchInsertList" parameterType="com.zhph.model.cf.CfCardAbnormity">
        INSERT INTO CF_CARD_ABNORMITY
        (
        ID,
        EMP_NO,
        EMP_NAME,
        GZ_YM,
        DEPT_CODE,
        JOB_NO,
        UP_WORK_ABNORMITY_NO,
        OFF_WORK_ABNORMITY_NO,
        CHECK_ABNORMITY_NO,
        ABNORMITY_TOTAL_NO,
        ABSENTEEISM_NO,
        CREATOR,
        UPDATOR,
        CREATE_TIME,
        UPDATE_TIME
        )
        SELECT  SQ_CF_CARD_ABNORMITY.nextval ID,A.* FROM(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.empNo,jdbcType=VARCHAR},
            #{item.empName,jdbcType=VARCHAR},
            #{item.gzYm,jdbcType=VARCHAR},
            #{item.deptCode,jdbcType=VARCHAR},
            #{item.jobNo,jdbcType=VARCHAR},
            #{item.upWorkAbnormityNo,jdbcType=VARCHAR},
            #{item.offWorkAbnormityNo,jdbcType=VARCHAR},
            #{item.checkAbnormityNo,jdbcType=VARCHAR},
            #{item.abnormityTotalNo,jdbcType=VARCHAR},
            #{item.absenteeismNo,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.updator,jdbcType=VARCHAR},
            #{item.createtime,jdbcType=TIMESTAMP},
            #{item.updatetime,jdbcType=TIMESTAMP}
            FROM dual
        </foreach>
        )A
    </insert>

    <select id="queryAll" resultMap="CfCardAbnormityResultMap" parameterType="com.zhph.model.cf.CfCardAbnormity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CF_CARD_ABNORMITY
        <include refid="Example_Where_Clause"/>
        ORDER  BY ID DESC
    </select>

    <select id="queryAbnByEmpNo" parameterType="java.lang.String" resultMap="CfCardAbnormityResultMap">
        select <include refid="Base_Column_List" />
        from cf_card_abnormity c
        <where>
            <if test="empNo != null and empNo != '' ">
                and c.emp_no = #{empNo}
            </if>
            <if test="gzym != null and gzym != '' ">
                and c.gz_ym = #{gzym}
            </if>
        </where>
    </select>


    <!--修改一条数据-->
    <update id="updateByCardId" parameterType="com.zhph.model.cf.CfCardAbnormity">
        UPDATE
        CF_CARD_ABNORMITY card
        SET
            card.UP_WORK_ABNORMITY_NO=#{upWorkAbnormityNo,jdbcType=VARCHAR},
            card.OFF_WORK_ABNORMITY_NO=#{offWorkAbnormityNo,jdbcType=VARCHAR},
            card.CHECK_ABNORMITY_NO=#{checkAbnormityNo,jdbcType=VARCHAR},
            card.ABNORMITY_TOTAL_NO=#{abnormityTotalNo,jdbcType=VARCHAR},
            card.ABSENTEEISM_NO=#{absenteeismNo,jdbcType=VARCHAR}
        WHERE  card.ID=#{id}
    </update>

    <insert id="addCfCardAb" parameterType="com.zhph.model.cf.CfCardAbnormity">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            SELECT SQ_CF_CARD_ABNORMITY.nextval AS ID FROM DUAL
        </selectKey>
        INSERT INTO CF_CARD_ABNORMITY( <include refid="Base_Column_List"/>)
        VALUES(<include refid="Base_Column_Filed"/>)
    </insert>

    <!--根据userid查询这个用户可以查询的数据权限-->
    <select id="queryEmpByQAndGetData" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT A.EMP_NO,A.EMP_NAME,HD.DEPT_NAME,HD.DEPT_CODE,A.POSITION AS JOB_NO,
		(SELECT POS_NAME FROM HQCLCF_BUSINESS_SCHEDULED WHERE A.POSITION=POS_CODE) AS POSITION,
			(SELECT TO_CHAR(WM_CONCAT(DEPT_TYPE||'='||DEPT_NAME)) FROM HQCLCF_DEPT
			WHERE DEPT_TYPE
			IS NOT NULL AND ID !=1 START WITH ID=
			(SELECT ID FROM
			HQCLCF_DEPT TEMP WHERE TEMP.DEPT_CODE=A.DEPT_NO)
			CONNECT BY PRIOR PID =
			ID) AS DEPTINFO FROM HQCLCF_EMP A JOIN HQCLCF_DEPT HD ON HD.DEPT_CODE=A.DEPT_NO AND EXISTS(
			--查询当前用户拥有查看哪些部门的权利
			SELECT
				DEPT.DEPT_CODE
			FROM
				HQCLCF_DEPT DEPT
			WHERE
				EXISTS (
					SELECT
						USERDATA.DEPT_ID
					FROM
						SYS_USER SYSUER
					LEFT JOIN SYS_USER_DEPTAUTH_REF USERDATA ON SYSUER.USER_ID = USERDATA.USER_ID
					WHERE
						SYSUER.USER_ID = #{userId}
					AND DEPT. ID = USERDATA.DEPT_ID
					GROUP BY
						USERDATA.DEPT_ID
				)
			AND DEPT.BUSINESS_LINE = 2
			AND A .DEPT_NO=DEPT.DEPT_CODE
			UNION ALL
		  --查询当前用户是否为营业部经理，为营业部经理则可查询上级
			SELECT
				(SELECT DEPT_CODE FROM HQCLCF_DEPT WHERE DEPT.PID=ID) AS DEPT_CODE
			FROM
				SYS_USER SYSUSER
			LEFT JOIN HQCLCF_EMP EMP ON EMP.EMP_NO = SYSUSER.EMP_NO
			LEFT JOIN HQCLCF_BUSINESS_SCHEDULED BUS ON EMP.POSITION=BUS.POS_CODE
			LEFT JOIN HQCLCF_DEPT DEPT ON DEPT.DEPT_CODE=EMP.DEPT_NO
			WHERE
				SYSUSER.USER_ID =  #{userId}
			AND BUS.POS_NAME= #{posName} AND A.DEPT_NO=((SELECT DEPT_CODE FROM HQCLCF_DEPT WHERE DEPT.PID=ID))
		)
        <where>
            AND A.STATUS IN(1,2,3,4)
            <if test="q!=null and q!=''">
                AND (a.EMP_NO like CONCAT(CONCAT('%', #{q}),'%') or a.EMP_NAME like CONCAT(CONCAT('%', #{q}),'%'))
            </if>
        </where>
    </select>


    <select id="queryList" resultType="java.util.HashMap" parameterType="com.zhph.model.cf.CfCardAbnormity">
        SELECT
            card.id AS "id",
            card.GZ_YM AS "gzYm",
            card.emp_no AS "empNo",
            card.emp_name AS "empName",
            (
                SELECT
                    POS_NAME
                FROM
                    HQCLCF_BUSINESS_SCHEDULED
                WHERE
                    card.JOB_NO = POS_CODE
            ) AS "jobNo",
            CARD.UP_WORK_ABNORMITY_NO AS "upWorkAbnormityNo",
            CARD.OFF_WORK_ABNORMITY_NO AS "offWorkAbnormityNo",
            CARD.CHECK_ABNORMITY_NO AS "checkAbnormityNo",
            CARD.ABNORMITY_TOTAL_NO AS "abnormityTotalNo",
            CARD.ABSENTEEISM_NO AS "absenteeismNo",
            (
                SELECT
                    TO_CHAR (
                        WM_CONCAT (DEPT_TYPE || '=' || DEPT_NAME)
                    )
                FROM
                    HQCLCF_DEPT
                WHERE
                    DEPT_TYPE IS NOT NULL
                AND ID != 1 START WITH ID = (
                    SELECT
                        ID
                    FROM
                        HQCLCF_DEPT TEMP
                    WHERE
                        TEMP.DEPT_CODE = card.DEPT_CODE
                ) CONNECT BY PRIOR PID = ID
            ) AS "deptInfo"
        FROM
            CF_CARD_ABNORMITY card
      <where>
          <!--部门查询-->
          <if test="queryDeptParm!=null and queryDeptParm!=''">
            AND  EXISTS (
              SELECT
              dept_code
              FROM
              HQCLCF_DEPT
              WHERE
              card.dept_code = dept_code START WITH ID = #{queryDeptParm} CONNECT BY PID = PRIOR ID
              )
          </if>
          <!--员工姓名查询-->
          <if test="empName!=null and empName!=''">
              <![CDATA[ AND card.EMP_NAME LIKE CONCAT(CONCAT('%', #{empName}),'%')]]>
          </if>
          <!--员工编码查询-->
          <if test="empNo!=null and empNo!=''">
              <![CDATA[ AND card.EMP_NO LIKE CONCAT(CONCAT('%', #{empNo}),'%')]]>
          </if>
          <!--员工职务查询-->
          <if test="jobNo!=null and jobNo!=''">
            AND card.JOB_NO=#{jobNo}
          </if>
          <!--员工工资年月查询-->
          <if test="gzYm!=null and gzYm!=''">
           AND card.GZ_YM=#{gzYm}
          </if>
          <if test="id!=null">
              AND card.ID=#{id}
          </if>
      </where>
        ORDER BY card.GZ_YM DESC
    </select>

    <delete id="delById" parameterType="Object">
        DELETE FROM  NEWSALARYUSER.CF_CARD_ABNORMITY WHERE ID=#{id}
    </delete>
</mapper>