<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.hqclcf.HqclcfEmpApvMapper">
<resultMap id="hqclcfEmpApvResultMap" type="com.zhph.model.hqclcf.HqclcfEmp">
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="EMP_NO" property="empNo" jdbcType="VARCHAR"/>
    <result column="EMP_NAME" property="empName" jdbcType="VARCHAR"/>
    <result column="IDCARD_NAME" property="idcardName" jdbcType="VARCHAR"/>
    <result column="SEX" property="sex" jdbcType="INTEGER"/>
    <result column="MARRIAGE" property="marriage" jdbcType="INTEGER"/>
    <result column="NATIVE_TYPE" property="nativeType" jdbcType="INTEGER"/>
    <result column="NATIVE_PLACE" property="nativePlace" jdbcType="VARCHAR"/>
    <result column="ADDR" property="addr" jdbcType="VARCHAR"/>
    <result column="ID_TYPE" property="idType" jdbcType="INTEGER"/>
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
    <result column="MOBILE_PHONE" property="mobilePhone" jdbcType="VARCHAR"/>
    <result column="URGENCY" property="urgency" jdbcType="VARCHAR"/>
    <result column="URGENCY_RELATION" property="urgencyRelation" jdbcType="INTEGER"/>
    <result column="URGENCY_PHONE" property="urgencyPhone" jdbcType="VARCHAR"/>
    <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
    <result column="NATION" property="nation" jdbcType="INTEGER"/>
    <result column="EMP_SUBJECT" property="empSubject" jdbcType="INTEGER"/>
    <result column="EDU" property="edu" jdbcType="INTEGER"/>
    <result column="SCHOOL_GRADUATION" property="schoolGraduation" jdbcType="VARCHAR"/>
    <result column="SPECIALTY" property="specialty" jdbcType="VARCHAR"/>
    <result column="EDU_TYPE" property="eduType" jdbcType="INTEGER"/>
    <result column="LX_ENTER_DATE" property="lxEnterDate" jdbcType="TIMESTAMP"/>
    <result column="ENTER_DATE" property="enterDate" jdbcType="TIMESTAMP"/>
    <result column="TFDATE" property="tfDate" jdbcType="TIMESTAMP"/>
    <result column="FULL_TIME_BEGIN_DATE" property="fulltimeBeginDate" jdbcType="TIMESTAMP"/>
    <result column="FULL_TIME_END_DATE" property="fulltimeEndDate" jdbcType="TIMESTAMP"/>
    <result column="WORK_ORG_NO" property="workOrgNo" jdbcType="VARCHAR"/>
    <result column="SOCIAL_SECURITYO_RGNO" property="socialSecurityOrgNo" jdbcType="VARCHAR"/>
    <result column="TAX_CODE" property="taxCode" jdbcType="VARCHAR"/>
    <result column="WAGES_NO" property="wagesNo" jdbcType="VARCHAR"/>
    <result column="WAGES_NUM" property="wagesNum" jdbcType="VARCHAR"/>
    <result column="REFEREES" property="referees" jdbcType="VARCHAR"/>
    <result column="REFEREES_NO" property="refereesNo" jdbcType="VARCHAR"/>
    <result column="CITY_LEVEL" property="cityLevel" jdbcType="INTEGER"/>
    <result column="DEPT_NO" property="deptNo" jdbcType="VARCHAR"/>
    <result column="QX" property="qx" jdbcType="VARCHAR"/>
    <result column="POST" property="post" jdbcType="VARCHAR"/>
    <result column="POSITION" property="position" jdbcType="VARCHAR"/>
    <result column="RANK" property="rank" jdbcType="VARCHAR"/>
    <result column="PF_BANK_CODE" property="pfBankCode" jdbcType="VARCHAR"/>
    <result column="PFBANKNO" property="pfBankNo" jdbcType="VARCHAR"/>
    <result column="OPEN_BANK_ORG" property="openBankOrg" jdbcType="VARCHAR"/>
    <result column="PF_BANK_SUBBRANCH" property="pfBankSubbranch" jdbcType="VARCHAR"/>
    <result column="EMP_TYPE" property="empType" jdbcType="INTEGER"/>
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR"/>
    <result column="STATUS" property="status" jdbcType="INTEGER"/>
    <result column="STATUS_APP" property="statusApp" jdbcType="INTEGER"/>
    <result column="RESULTS_APP" property="resultsApp" jdbcType="VARCHAR"/>
    <result column="REASONS_APP" property="reasonsApp" jdbcType="VARCHAR"/>
    <result column="BUSINESS_LINE" property="businessLine" jdbcType="INTEGER"/>
    <result column="LEAVE_DATE" property="leaveDate" jdbcType="TIMESTAMP"/>
    <result column="BAD_CREDIT" property="badCredit" jdbcType="VARCHAR"/>
    <result column="ZH_WORK_EXP" property="ZHWorkExp" jdbcType="VARCHAR"/>
    <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
    <result column="UPDATOR" property="updator" jdbcType="VARCHAR"/>
    <result column="APPROVER" property="approver" jdbcType="VARCHAR"/>
    <result column="CREATE_TIME" property="createtime" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_TIME" property="updatetime" jdbcType="TIMESTAMP"/>
    <result column="APPROVER_TIME" property="approverTime" jdbcType="TIMESTAMP"/>
    <result column="COMPANY_MAILBOX" property="companyMailbox" jdbcType="VARCHAR"/>
    <result column="HJ_PROVINCE" property="hjProvince" jdbcType="VARCHAR"/>
    <result column="HJ_CITY" property="hjCity" jdbcType="VARCHAR"/>
    <result column="HJ_AREA" property="hjArea" jdbcType="VARCHAR"/>
    <result column="HJ_XJDZ" property="hjxjdz" jdbcType="VARCHAR"/>
    <result column="XJ_PROVINCE" property="xjProvince" jdbcType="VARCHAR"/>
    <result column="XJ_CITY" property="xjCity" jdbcType="VARCHAR"/>
    <result column="XJ_AREA" property="xjArea" jdbcType="VARCHAR"/>
    <result column="XJ_XXDZ" property="xjxxdz" jdbcType="VARCHAR"/>
    <result column="BANK_PROVINCE" property="bankProvince" jdbcType="VARCHAR"/>
    <result column="BANK_CITY" property="bankCity" jdbcType="VARCHAR"/>
    <result column="BANK_XXDJ" property="bankxxdj" jdbcType="VARCHAR"/>
</resultMap>
    <!--表中所有字段-->
    <sql id="Base_Column_List">
            ID,
            EMP_NO,
            EMP_NAME,
            IDCARD_NAME,
            SEX,
            MARRIAGE,
            NATIVE_TYPE,
            NATIVE_PLACE,
            ADDR,
            ID_TYPE,
            ID_CARD,
            MOBILE_PHONE,
            URGENCY_PHONE,
            EMAIL,
            NATION,
            EMP_SUBJECT,
            EDU,
            SCHOOL_GRADUATION,
            SPECIALTY,
            EDU_TYPE,
            LX_ENTER_DATE,
            ENTER_DATE,
            TFDATE,
            FULL_TIME_BEGIN_DATE,
            FULL_TIME_END_DATE,
            WORK_ORG_NO,
            SOCIAL_SECURITYO_RGNO,
            TAX_CODE,
            WAGES_NO,
            WAGES_NUM,
            REFEREES,
            REFEREES_NO,
            CITY_LEVEL,
            DEPT_NO,
            QX,
            POST,
            POSITION,
            RANK,
            PF_BANK_CODE,
            PFBANKNO,
            OPEN_BANK_ORG,
            PF_BANK_SUBBRANCH,
            EMP_TYPE,
            COMMENTS,
            STATUS,
            STATUS_APP,
            RESULTS_APP,
            REASONS_APP,
            BUSINESS_LINE,
            LEAVE_DATE,
            BAD_CREDIT,
            ZH_WORK_EXP,
            CREATOR,
            UPDATOR,
            APPROVER,
            CREATE_TIME,
            UPDATE_TIME,
            APPROVER_TIME,
            URGENCY,
            URGENCY_RELATION,
            COMPANY_MAILBOX,
            HJ_PROVINCE,
            HJ_CITY,
            HJ_AREA,
            HJ_XJDZ,
            XJ_PROVINCE,
            XJ_CITY,
            XJ_AREA,
            XJ_XXDZ,
            BANK_PROVINCE,
            BANK_CITY,
            BANK_XXDJ
    </sql>
    <!--插入的实体对象值，允许为空-->
    <sql id="Base_Column_Filed">
        #{id,jdbcType=BIGINT},
        #{empNo,jdbcType=VARCHAR},
        #{empName,jdbcType=VARCHAR},
        #{idcardName,jdbcType=VARCHAR},
        #{sex,jdbcType=INTEGER},
        #{marriage,jdbcType=INTEGER},
        #{nativeType,jdbcType=INTEGER},
        #{nativePlace,jdbcType=VARCHAR},
        #{addr,jdbcType=VARCHAR},
        #{idType,jdbcType=INTEGER},
        #{idCard,jdbcType=VARCHAR},
        #{mobilePhone,jdbcType=VARCHAR},
        #{urgencyPhone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},
        #{nation,jdbcType=INTEGER},
        #{empSubject,jdbcType=INTEGER},
        #{edu,jdbcType=INTEGER},
        #{schoolGraduation,jdbcType=VARCHAR},
        #{specialty,jdbcType=VARCHAR},
        #{eduType,jdbcType=INTEGER},
        #{lxEnterDate,jdbcType=TIMESTAMP},
        #{enterDate,jdbcType=TIMESTAMP},
        #{tfDate,jdbcType=TIMESTAMP},
        #{fulltimeBeginDate,jdbcType=TIMESTAMP},
        #{fulltimeEndDate,jdbcType=TIMESTAMP},
        #{workOrgNo,jdbcType=VARCHAR},
        #{socialSecurityOrgNo,jdbcType=VARCHAR},
        #{taxCode,jdbcType=VARCHAR},
        #{wagesNo,jdbcType=VARCHAR},
        #{wagesNum,jdbcType=VARCHAR},
        #{referees,jdbcType=VARCHAR},
        #{refereesNo,jdbcType=VARCHAR},
        #{cityLevel,jdbcType=INTEGER},
        #{deptNo,jdbcType=VARCHAR},
        #{qx,jdbcType=VARCHAR},
        #{post,jdbcType=VARCHAR},
        #{position,jdbcType=VARCHAR},
        #{rank,jdbcType=VARCHAR},
        #{pfBankCode,jdbcType=VARCHAR},
        #{pfBankNo,jdbcType=VARCHAR},
        #{openBankOrg,jdbcType=VARCHAR},
        #{pfBankSubbranch,jdbcType=VARCHAR},
        #{empType,jdbcType=INTEGER},
        #{comments,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        #{statusApp,jdbcType=INTEGER},
        #{resultsApp,jdbcType=VARCHAR},
        #{reasonsApp,jdbcType=VARCHAR},
        #{businessLine,jdbcType=INTEGER},
        #{leaveDate,jdbcType=TIMESTAMP},
        #{badCredit,jdbcType=VARCHAR},
        #{ZHWorkExp,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR},
        #{updator,jdbcType=VARCHAR},
        #{approver,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP},
        #{updatetime,jdbcType=TIMESTAMP},
        #{approverTime,jdbcType=TIMESTAMP},
        #{urgency,jdbcType=VARCHAR},
        #{urgencyRelation,jdbcType=INTEGER},
        #{companyMailbox,jdbcType=VARCHAR},
        #{hjProvince,jdbcType=VARCHAR},
        #{hjCity,jdbcType=VARCHAR},
        #{hjArea,jdbcType=VARCHAR},
        #{hjxjdz,jdbcType=VARCHAR},
        #{xjProvince,jdbcType=VARCHAR},
        #{xjCity,jdbcType=VARCHAR},
        #{xjArea,jdbcType=VARCHAR},
        #{xjxxdz,jdbcType=VARCHAR},
        #{bankProvince,jdbcType=VARCHAR},
        #{bankCity,jdbcType=VARCHAR},
        #{bankxxdj,jdbcType=VARCHAR}
    </sql>

    <sql id="Base_Update_SetValue">
        EMP_NO=#{empNo,jdbcType=VARCHAR},
        EMP_NAME=#{empName,jdbcType=VARCHAR},
        IDCARD_NAME=#{idcardName,jdbcType=VARCHAR},
        SEX=#{sex,jdbcType=INTEGER},
        MARRIAGE=#{marriage,jdbcType=INTEGER},
        NATIVE_TYPE=#{nativeType,jdbcType=INTEGER},
        NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR},
        ADDR=#{addr,jdbcType=VARCHAR},
        ID_TYPE=#{idType,jdbcType=INTEGER},
        ID_CARD=#{idCard,jdbcType=VARCHAR},
        MOBILE_PHONE=#{mobilePhone,jdbcType=VARCHAR},
        URGENCY_PHONE=#{urgencyPhone,jdbcType=VARCHAR},
        EMAIL=#{email,jdbcType=VARCHAR},
        NATION=#{nation,jdbcType=INTEGER},
        EMP_SUBJECT=#{empSubject,jdbcType=INTEGER},
        EDU=#{edu,jdbcType=INTEGER},
        SCHOOL_GRADUATION=#{schoolGraduation,jdbcType=VARCHAR},
        SPECIALTY=#{specialty,jdbcType=VARCHAR},
        EDU_TYPE=#{eduType,jdbcType=INTEGER},
        LX_ENTER_DATE=#{lxEnterDate,jdbcType=TIMESTAMP},
        ENTER_DATE=#{enterDate,jdbcType=TIMESTAMP},
        TFDATE=	#{tfDate,jdbcType=TIMESTAMP},
        FULL_TIME_BEGIN_DATE=#{fulltimeBeginDate,jdbcType=TIMESTAMP},
        FULL_TIME_END_DATE=#{fulltimeEndDate,jdbcType=TIMESTAMP},
        WORK_ORG_NO=#{workOrgNo,jdbcType=VARCHAR},
        SOCIAL_SECURITYO_RGNO=#{socialSecurityOrgNo,jdbcType=VARCHAR},
        TAX_CODE=#{taxCode,jdbcType=VARCHAR},
        WAGES_NO=#{wagesNo,jdbcType=VARCHAR},
        WAGES_NUM=#{wagesNum,jdbcType=VARCHAR},
        REFEREES=#{referees,jdbcType=VARCHAR},
        REFEREES_NO=#{refereesNo,jdbcType=VARCHAR},
        CITY_LEVEL=#{cityLevel,jdbcType=INTEGER},
        DEPT_NO=#{deptNo,jdbcType=VARCHAR},
        QX=	#{qx,jdbcType=VARCHAR},
        POST=#{post,jdbcType=VARCHAR},
        POSITION=#{position,jdbcType=VARCHAR},
        RANK=#{rank,jdbcType=VARCHAR},
        PF_BANK_CODE=#{pfBankCode,jdbcType=VARCHAR},
        PFBANKNO=#{pfBankNo,jdbcType=VARCHAR},
        OPEN_BANK_ORG=#{openBankOrg,jdbcType=VARCHAR},
        PF_BANK_SUBBRANCH=#{pfBankSubbranch,jdbcType=VARCHAR},
        EMP_TYPE=#{empType,jdbcType=INTEGER},
        COMMENTS=#{comments,jdbcType=VARCHAR},
        STATUS=#{status,jdbcType=INTEGER},
        STATUS_APP=#{statusApp,jdbcType=INTEGER},
        RESULTS_APP=#{resultsApp,jdbcType=VARCHAR},
        REASONS_APP=#{reasonsApp,jdbcType=VARCHAR},
        BUSINESS_LINE=#{businessLine,jdbcType=INTEGER},
        LEAVE_DATE=#{leaveDate,jdbcType=TIMESTAMP},
        BAD_CREDIT=#{badCredit,jdbcType=VARCHAR},
        ZH_WORK_EXP=#{ZHWorkExp,jdbcType=VARCHAR},
        <if test="updator!=null and updator!='' ">
            UPDATOR=#{updator,jdbcType=VARCHAR},
        </if>
        <if test="approver!=null and  approver!='' ">
            APPROVER=#{approver,jdbcType=VARCHAR},
        </if>
        <if test="updatetime!=null ">
            UPDATE_TIME=#{updatetime,jdbcType=TIMESTAMP},
        </if>
        <if test="approverTime!=null">
           APPROVER_TIME=#{approverTime,jdbcType=TIMESTAMP},
        </if>
        URGENCY=#{urgency,jdbcType=VARCHAR},
        URGENCY_RELATION=#{urgencyRelation,jdbcType=INTEGER},
        COMPANY_MAILBOX=#{companyMailbox,jdbcType=VARCHAR},
        HJ_PROVINCE=#{hjProvince,jdbcType=VARCHAR},
        HJ_CITY=#{hjCity,jdbcType=VARCHAR},
        HJ_AREA=#{hjArea,jdbcType=VARCHAR},
        HJ_XJDZ=#{hjxjdz,jdbcType=VARCHAR},
        XJ_PROVINCE=#{xjProvince,jdbcType=VARCHAR},
        XJ_CITY=#{xjCity,jdbcType=VARCHAR},
        XJ_AREA=#{xjArea,jdbcType=VARCHAR},
        XJ_XXDZ=#{xjxxdz,jdbcType=VARCHAR},
        BANK_PROVINCE=#{bankProvince,jdbcType=VARCHAR},
        BANK_CITY=#{bankCity,jdbcType=VARCHAR},
        BANK_XXDJ=#{bankxxdj,jdbcType=VARCHAR}
    </sql>
    <!--查询条件-->
    <sql id="Example_Where_Clause">
        <where>
            <if test="id != null and id !='' or id==0 ">
                AND ID=#{id}
            </if>
            <if test="operType=='empNoFuzzyQuery' or operType=='empNameFuzzyQuery'">
                <if test="empNo!=null and empNo !=''">
                    AND EMP_NO LIKE '%${empNo}%'
                </if>
                <if test="empName!=null and empName!=''">
                    AND EMP_NAME LIKE '%${empName}%'
                </if>
            </if>
            <if test="operType==''">
                <if test="empNo!=null and empNo !=''">
                    AND EMP_NO=#{empNo}
                </if>
                <if test="empName!=null and empName!=''">
                    AND EMP_NAME=#{empName}
                </if>
            </if>
            <if test="deptNo!=null and deptNo!='' ">
                AND DEPT_NO=#{deptNo}
            </if>
            <if test=" statusApp!=null and statusApp!='' ">
                AND STATUS_APP=#{statusApp}
            </if>
            <if test=" businessLine!=null and businessLine!='' ">
                AND BUSINESS_LINE=#{businessLine}
            </if>
            <if test=" workOrgNo!=null and workOrgNo!='' ">
                AND WORK_ORG_NO=#{workOrgNo}
            </if>
            <if test=" idCard!=null and idCard!='' ">
                AND ID_CARD=#{idCard}
            </if>
            <if test=" idcardName!=null and idcardName!='' ">
                AND IDCARD_NAME=#{idcardName}
            </if>
            <if test=" pfBankNo!=null and pfBankNo!='' ">
                AND  PFBANKNO=#{pfBankNo}
            </if>
            <if test="qx!=null and qx!='' and deptHid!=null and deptHid!='' ">
             AND  DEPT_NO IN(SELECT DEPT_CODE FROM HQCLCF_DEPT START WITH ID = #{deptHid} CONNECT BY PID = PRIOR ID)
            </if>
            <if test="userId!=null and userId!=''">
             AND EXISTS (
                SELECT
                A .dept_code
                FROM
                HQCLCF_DEPT A
                INNER JOIN SYS_USER_DEPTAUTH_REF B ON A . ID = B.DEPT_ID
                WHERE
                B.user_id =  #{userId}
                AND A .dept_code = HQCLCF_EMP.DEPT_NO
                GROUP BY
                A .dept_code
                )
            </if>
            <if test="status!=null and status!=''">
               AND STATUS=#{status}
            </if>
        </where>
    </sql>

    <select id="queryAll" resultMap="hqclcfEmpApvResultMap" parameterType="com.zhph.model.hqclcf.HqclcfEmp">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HQCLCF_EMP
        <include refid="Example_Where_Clause"/>
        ORDER  BY decode(STATUS_APP,4,1,2,2,3,3,1,4)
    </select>

    <select id="queryEmpByStutas"  resultMap="hqclcfEmpApvResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HQCLCF_EMP
        <where>
            <if test="status!=null and status!='' ">
                AND   (STATUS =#{status} OR STATUS IS NULL)
            </if>
            <if test="emp!=null ">
                AND DEPT_NO=#{emp.deptNo}
            </if>
        </where>
    </select>
    
    <select id="querySeqBySeqName" resultType="String" >
         SELECT ${seqName}.NEXTVAL AS NEXTVAL FROM DUAL
    </select>
    
    <select id="queryEmpSizeByDeptIdAndPostId" resultType="Integer">
        SELECT
            COUNT (*)
        FROM
            HQCLCF_EMP A
        INNER JOIN HQCLCF_DEPT B ON A .DEPT_NO = B.DEPT_CODE
        INNER JOIN HQCLCF_POST C ON A .POST = C.POST_NO
        WHERE
            B. ID = #{deptId,jdbcType=BIGINT}
        AND C.PRI_NUMBER = #{postId,jdbcType=BIGINT}
        AND A.status=#{status,jdbcType=INTEGER}
    </select>

    <!--插入一条员工信息-->
    <insert id="insert" parameterType="com.zhph.model.hqclcf.HqclcfEmp">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            SELECT SQ_HQCLCF_EMP.nextval AS ID FROM DUAL
        </selectKey>
        INSERT INTO HQCLCF_EMP( <include refid="Base_Column_List"/>)
        VALUES(<include refid="Base_Column_Filed"/>)
    </insert>

    <!--修改一条数据-->
    <update id="updateByEmp" parameterType="com.zhph.model.hqclcf.HqclcfEmp">
        UPDATE
          HQCLCF_EMP
        SET
        <include refid="Base_Update_SetValue"/>
        WHERE ID=#{id}
    </update>

    <!--查询在用的工作地和社保购买地编码-->
    <select id="queryEmpByworkNo" resultType="java.lang.Integer" parameterType="map">
        SELECT count(*) FROM HQCLCF_EMP WHERE  WORK_ORG_NO= #{workOrgNo,jdbcType=VARCHAR} OR SOCIAL_SECURITYO_RGNO=#{workOrgNo,jdbcType=VARCHAR}
    </select>

    <!--查询附件的中间表-->
    <select id="queryMidFileType" resultType="java.util.Map" parameterType="com.zhph.model.sys.SysMidFileType">
        SELECT OLD_FILE_TYPE,NEW_FILE_TYPE,BUSINESSLINE FROM SYS_MID_FILETYPE
        <where>
            <if test="businessline!=null and businessline!=''">
                AND  BUSINESSLINE=#{businessline}
            </if>
            <if test="newFileType!=null and newFileType!=''">
                AND NEW_FILE_TYPE=#{newFileType}
            </if>
        </where>
    </select>
</mapper>