<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.hqclcf.HqclcfEmpSubjectChangeMapper">
	<resultMap id="empSubjectChangeResultMap" type="com.zhph.model.hqclcf.HqclcfEmpSubjectChange">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="EMPNO" jdbcType="VARCHAR" property="empNo" />
		<result column="EMPSUBJECT_NEW" jdbcType="VARCHAR" property="empsubjectNew" />
		<result column="ENTERDATE_HT" jdbcType="TIMESTAMP" property="enterdateHt" />
		<result column="LEAVEDATE_ZH" jdbcType="TIMESTAMP" property="leavedateZh" />
		<result column="STATUS" jdbcType="VARCHAR" property="status" />
		<result column="OPINION" jdbcType="VARCHAR" property="opinion" />
		<result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
		<result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="AUDIT_NAME" jdbcType="VARCHAR" property="auditName" />
		<result column="AUDIT_DATE" jdbcType="TIMESTAMP" property="auditDate" />
		
		<result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
		<result column="DEPT_NO" jdbcType="VARCHAR" property="deptNo" />
		<result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
		<result column="POST_NAME" jdbcType="VARCHAR" property="postName" />
		<result column="ENTER_DATE" jdbcType="TIMESTAMP" property="enterDate" />
		<result column="YYB_CODE" jdbcType="VARCHAR" property="yybCode" />
		<result column="YYB_NAME" jdbcType="VARCHAR" property="yybName" />
		<result column="BUSINESS_LINE" jdbcType="VARCHAR" property="businessLine" />
	
	</resultMap>
 
	<select id="queryAllList" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange" resultMap="empSubjectChangeResultMap">
		select HH.* from (select HC.*,HE.EMP_NAME,HE.ENTER_DATE,HE.DEPT_NO,(select HT.DEPT_CODE from HQCLCF_DEPT HT WHERE HT.DEPT_TYPE = '3' START WITH ID = (select ID FROM HQCLCF_DEPT H WHERE H.DEPT_CODE=HE.DEPT_NO) CONNECT BY prior HT.PID = HT.ID) AS YYB_CODE,(select HT.DEPT_NAME from HQCLCF_DEPT HT WHERE HT.DEPT_TYPE = '3' START WITH ID = (select ID FROM HQCLCF_DEPT H WHERE H.DEPT_CODE=HE.DEPT_NO) CONNECT BY prior HT.PID = HT.ID) AS YYB_NAME  from HQCLCF_EMP_SUBJECT_CHANGE HC left join HQCLCF_EMP HE on HC.EMPNO = HE.EMP_NO) HH
		<where>
			<if test="empNo!=null and empNo!='' ">
				AND HH.EMPNO like '%'||#{empNo}||'%'
			</if>
			<if test="empName!=null and empName!='' ">
				AND HH.EMP_NAME like '%'||#{empName}||'%'
			</if>
			<if test="status!=null and status!='' ">
				AND HH.STATUS = #{status}
			</if>
			<if test="userId!=null and userId!=''">
				AND HH.EMPNO IN (select HE2.EMP_NO from HQCLCF_EMP HE2 WHERE EXISTS (SELECT A.dept_code  FROM HQCLCF_DEPT A INNER JOIN SYS_USER_DEPTAUTH_REF B
                    ON A.ID = B.DEPT_ID WHERE A.dept_code = HE2.DEPT_NO AND B.user_id = #{userId} GROUP BY A.dept_code))
			</if>
			<if test="deptNo!=null and deptNo!='' and (qx=='' or qx=='null' or qx==null) ">
				AND EXISTS (select 1 from HQCLCF_EMP WHERE EMP_NO = HH.EMPNO AND DEPT_NO = #{deptNo} )
			</if>
			<if test="qx!='' and deptHid!=null">
                AND HH.DEPT_NO IN(SELECT DEPT_CODE FROM HQCLCF_DEPT START WITH ID = #{deptHid} CONNECT BY PID = PRIOR ID)
            </if>
				
		</where>
		ORDER BY CREATE_DATE DESC
		
	</select>
	
	<insert id="insertData" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange">
	   	insert into HQCLCF_EMP_SUBJECT_CHANGE (
			ID, 
			EMPNO, 
			EMPSUBJECT_NEW,
			BUSINESS_LINE,
	    	ENTERDATE_HT, 
	    	LEAVEDATE_ZH, 
	    	STATUS,
	    	CREATE_NAME, 
	    	CREATE_DATE
	    )values (
	    	#{id,jdbcType=VARCHAR}, 
	    	#{empNo,jdbcType=VARCHAR}, 
	    	#{empsubjectNew,jdbcType=VARCHAR}, 
	    	#{businessLine,jdbcType=VARCHAR}, 
	    	#{enterdateHt,jdbcType=TIMESTAMP}, 
	    	#{leavedateZh,jdbcType=TIMESTAMP}, 
	    	#{status,jdbcType=VARCHAR}, 
	    	#{createName,jdbcType=VARCHAR}, 
	    	#{createDate,jdbcType=TIMESTAMP}
	    )
	</insert>
	
	<update id="editData" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange">
    	update HQCLCF_EMP_SUBJECT_CHANGE SET 
    		EMPSUBJECT_NEW = #{empsubjectNew,jdbcType=VARCHAR}, 
			BUSINESS_LINE = #{businessLine,jdbcType=VARCHAR}, 
	    	ENTERDATE_HT = #{enterdateHt,jdbcType=VARCHAR}, 
	    	LEAVEDATE_ZH = #{leavedateZh,jdbcType=TIMESTAMP},
	    	UPDATE_NAME = #{updateName,jdbcType=VARCHAR}, 
	    	UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
      		where ID = #{id,jdbcType=VARCHAR}
  </update>
	
	<update id="cancelData" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange">
    	update HQCLCF_EMP_SUBJECT_CHANGE SET STATUS = '3' where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<delete id="delData" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange">
    	delete from HQCLCF_EMP_SUBJECT_CHANGE where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<select id="getEmpSubjectChangeById" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange" resultMap="empSubjectChangeResultMap">
		select HC.*,HDP.EMP_NAME,HDP.DEPT_NAME,HDP.POST_NAME,HDP.ENTER_DATE 
			from HQCLCF_EMP_SUBJECT_CHANGE HC 
				left join ( 
					select HE.EMP_NO,HE.ENTER_DATE,HE.EMP_NAME,HD.DEPT_NAME,HP.POST_NAME 
						from HQCLCF_EMP HE 
							left join HQCLCF_DEPT HD on HE.DEPT_NO = HD.DEPT_CODE 
							left join HQCLCF_POST HP ON HE.POST = HP.POST_NO 
					) HDP ON HC.EMPNO = HDP.EMP_NO 
			where id = #{id,jdbcType=VARCHAR}
	</select>
  
  	<update id="auditData" parameterType="com.zhph.model.hqclcf.HqclcfEmpSubjectChange">
    	update HQCLCF_EMP_SUBJECT_CHANGE SET 
    		STATUS = #{status,jdbcType=VARCHAR},
    		OPINION = #{opinion,jdbcType=VARCHAR},
      		AUDIT_NAME = #{auditName,jdbcType=VARCHAR},
      		AUDIT_DATE = #{auditDate,jdbcType=TIMESTAMP}
      		where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>