<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhph.mapper.hqclcf.HqclcfPersonTransferMapper">
    <resultMap id="BaseResultMap" type="com.zhph.model.hqclcf.HqclcfPersonTransfer">
        <id column="priNumber" jdbcType="BIGINT" property="priNumber"/>
        <result column="emp_no" jdbcType="VARCHAR" property="empNo"/>
        <result column="pri_dept_no" jdbcType="VARCHAR" property="priDeptNo"/>
        <result column="pri_post_no" jdbcType="VARCHAR" property="priPostNo"/>
        <result column="pri_hq_position" jdbcType="VARCHAR" property="priHqPosition"/>
        <result column="pri_hq_rank" jdbcType="VARCHAR" property="priHqRank"/>
        <result column="pri_business_line" jdbcType="BIGINT" property="priBusinessLine"/>
        <result column="transfer_type" jdbcType="VARCHAR" property="transferType"/>
        <result column="transfer_time" jdbcType="VARCHAR" property="transferTime"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="new_dept" jdbcType="VARCHAR" property="newDept"/>
        <result column="new_post" jdbcType="VARCHAR" property="newPost"/>
        <result column="new_hq_position" jdbcType="VARCHAR" property="newHqPosition"/>
        <result column="new_hq_rank" jdbcType="VARCHAR" property="newHqRank"/>
        <result column="new_business_line" jdbcType="VARCHAR" property="newBusinessLine"/>
        <result column="transfer_Info_File_add" jdbcType="VARCHAR" property="transferInfoFile"/>
        <result column="Apply_Info_File_add" jdbcType="VARCHAR" property="ApplyInfoFile"/>

    </resultMap>
    <sql id="Base_Column_List">
    priNumber,
    emp_no,
    pri_dept_no,
    pri_post_no,
    pri_hq_position,
    pri_hq_rank,
    pri_business_line,
    transfer_type,
    transfer_time,
    descript,
    status,
    create_name,
    create_date,
    new_dept,
    new_post,
    new_hq_position,
    new_hq_rank,
    new_business_line,
    transfer_Info_File_add,
    Apply_Info_File_add
  </sql>


    <select id="queryAllHqclcfPersonTransfer" parameterType="com.zhph.model.hqclcf.HqclcfPersonTransfer"
            resultMap="BaseResultMap">
    select * from  HQCLCF_PERSON_TRANSF_SCHEDULED h
    order by h.prinumber desc
  </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HQCLCF_PERSON_TRANSF_SCHEDULED
        where priNumber = #{priNumber,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from HQCLCF_PERSON_TRANSF_SCHEDULED
    where priNumber = #{priNumber,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zhph.model.hqclcf.HqclcfPersonTransfer">
        <selectKey resultType="Long" keyProperty="priNumber" order="BEFORE">
            select sq_hqclcf_persontransfer.nextval as priNumber from dual
        </selectKey>
        insert into hqclcf_person_transf_scheduled (
        prinumber,
        emp_no,
        pri_dept_no,
        pri_post_no,
        pri_hq_position,
        pri_hq_rank,
        pri_business_line,
        transfer_type,
        transfer_time,
        descript,
        status,
        create_name,
        create_date,
        new_dept,
        new_post,
        new_hq_position,
        new_hq_rank,
        new_business_line
        )
        values (
        #{priNumber,jdbcType=BIGINT},
        #{empNo,jdbcType=VARCHAR},
        #{priDeptNo,jdbcType=VARCHAR},
        #{priPostNo,jdbcType=VARCHAR},
        #{priHqPosition,jdbcType=VARCHAR},
        #{priHqRank,jdbcType=VARCHAR},
        <choose>
            <when test="priBusinessLine != null and priBusinessLine != '' ">
                #{priBusinessLine,jdbcType=VARCHAR},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        #{transferType,jdbcType=VARCHAR},
        #{transferTime,jdbcType=VARCHAR},
        #{descript,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{createName,jdbcType=VARCHAR},
        #{createDate,jdbcType=VARCHAR},
        #{newDept,jdbcType=VARCHAR},
        #{newPost,jdbcType=VARCHAR},
        #{newHqPosition,jdbcType=VARCHAR},
        #{newHqRank,jdbcType=VARCHAR},
        #{newBusinessLine,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zhph.model.hqclcf.HqclcfPersonTransfer">
        insert into HQCLCF_PERSON_TRANSF_SCHEDULED
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="priNumber != null">
                priNumber,
            </if>
            <if test="empNo != null">
                emp_no,
            </if>
            <if test="priDeptNo != null">
                pri_dept_no,
            </if>
            <if test="priPostNo != null">
                pri_post_no,
            </if>
            <if test="priHqPosition != null">
                pri_hq_position,
            </if>
            <if test="priHqRank != null">
                pri_hq_rank,
            </if>
            <if test="priBusinessLine != null">
                pri_business_line,
            </if>
            <if test="transferType != null">
                transfer_type,
            </if>
            <if test="transferTime != null">
                transfer_time,
            </if>
            <if test="descript != null">
                descript,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="newDept != null">
                new_dept,
            </if>
            <if test="newPost != null">
                new_post,
            </if>
            <if test="newHqPosition != null">
                new_hq_position,
            </if>
            <if test="newHqRank != null">
                new_hq_rank,
            </if>
            <if test="newBusinessLine != null">
                new_business_line,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="priNumber != null">
                #{priNumber,jdbcType=BIGINT},
            </if>
            <if test="empNo != null">
                #{empNo,jdbcType=VARCHAR},
            </if>
            <if test="priDeptNo != null">
                #{priDeptNo,jdbcType=VARCHAR},
            </if>
            <if test="priPostNo != null">
                #{priPostNo,jdbcType=VARCHAR},
            </if>
            <if test="priHqPosition != null">
                #{priHqPosition,jdbcType=VARCHAR},
            </if>
            <if test="priHqRank != null">
                #{priHqRank,jdbcType=VARCHAR},
            </if>
            <if test="priBusinessLine != null">
                #{priBusinessLine,jdbcType=VARCHAR},
            </if>
            <if test="transferType != null">
                #{transferType,jdbcType=VARCHAR},
            </if>
            <if test="transferTime != null">
                #{transferTime,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                #{descript,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="newDept != null">
                #{newDept,jdbcType=VARCHAR},
            </if>
            <if test="newPost != null">
                #{newPost,jdbcType=VARCHAR},
            </if>
            <if test="newHqPosition != null">
                #{newHqPosition,jdbcType=VARCHAR},
            </if>
            <if test="newHqRank != null">
                #{newHqRank,jdbcType=VARCHAR},
            </if>
            <if test="newBusinessLine != null">
                #{newBusinessLine,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhph.model.hqclcf.HqclcfPersonTransfer">
        update hqclcf_person_transf_scheduled
        <set>
            <if test="empNo != null">
                emp_no = #{empNo,jdbcType=VARCHAR},
            </if>
            <if test="priDeptNo != null">
                pri_dept_no = #{priDeptNo,jdbcType=VARCHAR},
            </if>
            <if test="priPostNo != null">
                pri_post_no = #{priPostNo,jdbcType=VARCHAR},
            </if>
            <if test="priHqPosition != null">
                pri_hq_position = #{priHqPosition,jdbcType=VARCHAR},
            </if>
            <if test="priHqRank != null">
                pri_hq_rank = #{priHqRank,jdbcType=VARCHAR},
            </if>
            <if test="priBusinessLine != null">
                pri_business_line = #{priBusinessLine,jdbcType=BIGINT},
            </if>
            <if test="transferType != null">
                transfer_type = #{transferType,jdbcType=VARCHAR},
            </if>
            <if test="transferTime != null">
                transfer_time = #{transferTime,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="newDept != null">
                new_dept = #{newDept,jdbcType=VARCHAR},
            </if>
            <if test="newPost != null">
                new_post = #{newPost,jdbcType=VARCHAR},
            </if>
            <if test="newHqPosition != null">
                new_hq_position = #{newHqPosition,jdbcType=VARCHAR},
            </if>
            <if test="newHqRank != null">
                new_hq_rank = #{newHqRank,jdbcType=VARCHAR},
            </if>
            <if test="newBusinessLine != null">
                new_business_line = #{newBusinessLine,jdbcType=VARCHAR}
            </if>
        </set>
        where priNumber = #{priNumber,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhph.model.hqclcf.HqclcfPersonTransfer">
    update HQCLCF_PERSON_TRANSF_SCHEDULED
    set emp_no = #{empNo,jdbcType=VARCHAR},
      pri_dept_no = #{priDeptNo,jdbcType=VARCHAR},
      pri_post_no = #{priPostNo,jdbcType=VARCHAR},
      pri_hq_position = #{priHqPosition,jdbcType=VARCHAR},
      pri_hq_rank = #{priHqRank,jdbcType=VARCHAR},
      pri_business_line = #{priBusinessLine,jdbcType=BIGINT},
      transfer_type = #{transferType,jdbcType=VARCHAR},
      transfer_time = #{transferTime,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      new_dept = #{newDept,jdbcType=VARCHAR},
      new_post = #{newPost,jdbcType=VARCHAR},
      new_hq_position = #{newHqPosition,jdbcType=VARCHAR},
      new_hq_rank = #{newHqRank,jdbcType=VARCHAR},
      new_business_line = #{newBusinessLine,jdbcType=VARCHAR},
    where priNumber = #{priNumber,jdbcType=BIGINT}
  </update>
    <!-- 手动添加 -->
    <select id="getPersonTransferByCondition" parameterType="com.zhph.model.hqclcf.HqclcfPersonTransfer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from HQCLCF_PERSON_TRANSF_SCHEDULED h
        <where>
            <if test="empNo!=null and empNo!='' ">
                AND h.emp_no like '%${empNo}%'
            </if>
            <if test="priBusinessLine!=null and priBusinessLine!=''">
                AND h.pri_business_line = #{priBusinessLine}
            </if>
            <if test="newBusinessLine!=null and newBusinessLine!=''">
                AND h.new_business_line = #{newBusinessLine}
            </if>
            <if test="transferTime!=null and transferTime!=''">
                AND h.transfer_time = #{transferTime}
            </if>
            <if test="transferType!=null and transferType!=''">
                AND h.transfer_type = #{transferType}
            </if>
            <if test="priDeptNo!=null and priDeptNo!=''">
                AND h.pri_dept_no = #{priDeptNo}
            </if>
            <if test="newDept!=null and newDept!=''">
                AND h.new_dept = #{newDept}
            </if>
            <if test="priPostNo!=null and priPostNo!=''">
                AND h.pri_post_no = #{priPostNo}
            </if>
            <if test="newPost!=null and newPost!=''">
                AND h.new_post = #{newPost}
            </if>
            <if test="status!=null and status!=''">
                AND h.status = #{status}
            </if>
            <if test="priHqRank!=null and priHqRank!=''">
                AND h.pri_business_line in (0,
                <foreach collection="loginUserId" index="index" item="item"  separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="priHqRank!=null and priHqRank!=''">
                AND h.new_business_line in (0,
                <foreach collection="loginUserId" index="index" item="item" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
        ORDER BY CREATE_DATE desc
    </select>


</mapper>